﻿
@{
    ViewBag.Title = "Shipping Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details = "";
    ViewBag.Create_Details_URL = "";
}

<div class="card">
    <div class="card-body">
        <div>
            <table id="tblShipping" class="table table-hover table-responsive table-bordered nowrap info-table">
                @*color-table*@
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Shipment Name</th>
                        <th>Recipient Name</th>
                        <th>Tracking Number</th>
                        <th>Created By</th>
                        <th>Collaborator ID</th>
                        <th>Number Of Speciemens</th>
                        <th>Status</th>
                        <th>Shipment Type</th>
                        <th>Distribution Project</th>
                        <th>Received Date</th>
                        <th>Received by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox align-content-center">
                                <input type="checkbox" id="chkSelect" name="chkSelect" />
                            </div>
                        </td>

                        <td> Ext Lab 0001 11.06.2018</td>
                        <td>	Emmam</td>
                        <td>545484</td>
                        <td>Praveen P</td>
                        <td></td>
                        <td>8</td>
                        <td>Received</td>
                        <td>External Lab</td>
                        <td>Multiple</td>
                        <td>15/06/2018</td>
                        <td>Praveen</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox align-content-center">
                                <input type="checkbox" id="chkSelect" name="chkSelect" />
                            </div>
                        </td>

                        <td> Ext Lab 0001 11.06.2018</td>
                        <td>Shivangi Dave</td>
                        <td></td>
                        <td>Praveen P</td>
                        <td></td>
                        <td>2</td>
                        <td>Canceled</td>
                        <td>External Investigator</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    		
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox align-content-center">
                                <input type="checkbox" id="chkSelect" name="chkSelect" />
                            </div>
                        </td>

                        <td>Pt Care Ret 0001 21.06.2018</td>
                        <td>Alex dave</td>
                        <td>75622</td>
                        <td>Praveen P</td>
                        <td></td>
                        <td>1</td>
                        <td>Received</td>
                        <td>External Lab</td>
                        <td>Multiple</td>
                        <td>25/06/2018</td>
                        <td>Praveen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header font-weight-bold">Actions </div>
        <div class="card-body">
            <div class="offset-1">
                <input type="button" value="Ready for QC" class="btn btn-info" />
                @*<input type="button" value="Modify Shipment" class="btn btn-info" />
                <input type="button" value="Add Remove Specimen" class="btn btn-info" />*@
                <input type="button" value=" QC" class="btn btn-info" />
                <input type="button" value="Ship" class="btn btn-info" />
                <input type="button" value="Print Manifest" class="btn btn-info" />
                <input type="button" value="Cancel Shipment" class="btn btn-info" />
                <input type="button" value="Undo Shipment" class="btn btn-info" />
                <input type="button" value="Lost in Transist" class="btn btn-info" />
                <input type="button" value="Receive" class="btn btn-info" />
            </div>
         
        </div>
</div>
    </div>
<script>
    $(document).ready(function () {
        $("#tblShipping").DataTable({
            dom: 'Bfrtip',
            buttons: [
                             ]
        });
    });
</script>