﻿
@{
    ViewBag.Title = "Change Status";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ChangeStatus</h2>

<input type="button" value="btnAddResearchSite" id="btnAddResearchSite" class="btnAddResearchSite" />
<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog manage modal-lg">
        <div class="modal-content">
            @*Modal content*@

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold"><b>Change Application Status</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body" id="myModalBodyDiv1">

                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3 row">
                                <div class="col-md-3">
                                    SID :
                                </div>
                                <div class="col-md-6">
                                    SID000957
                                </div>
                            </div>
                            <div class="col-md-5 row">
                                <div class="col-md-4">
                                    Institution Name :
                                </div>
                                <div class="col-md-7">
                                    Yolanda G.Barco Oncology Institue
                                </div>
                            </div>
                            <div class="col-md-4 row">
                                <div class="col-md-5">
                                    Application Status:
                                </div>
                                <div class="col-md-5">
                                    <select class=" form-control">
                                        <option>Approved</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-8 row">
                                <div>
                                    Do you want to assign old NSABP site ID ? :
                                </div>
                                <div class="form-check form-check-inline ">
                                    <div class="custom-control custom-radio ">
                                        <input type="radio" id="isFromDiagnosticBreastBiopsyChk" name="isFromDiagnosticBreastBiopsy" class="custom-control-input form-check-input">
                                        <label class="custom-control-label " for="isFromDiagnosticBreastBiopsyChk">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="isFromDiagnosticBreastBiopsyUnChk" name="isFromDiagnosticBreastBiopsy" class="custom-control-input form-check-input">
                                        <label class="custom-control-label" for="isFromDiagnosticBreastBiopsyUnChk">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 row">
                                <div class="col-md-4"> NSABP Site ID:</div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="7893-120" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-md-3 row">
                                <div class="col-md-3">
                                    Date :
                                </div>
                                <div class="col-md-6">
                                    <input type="text" value="" class="datepicker form-control" />
                                </div>
                            </div>
                            <div class="col-md-7 row">
                                <div> Reason Comments :</div>
                                <div class="col-md-8"> <textarea class="form-control" rows="3" cols="100" id="comment" wrap="soft"></textarea></div>
                            </div>
                        </div>
                        <h5 class="font-weight-bold">Change Site Addendum Status</h5>
                        <div>
                            <table id="tblRCDetails" class="table nowrap table-hover table-striped table-bordered info-table ">
                                <thead>
                                    <tr>
                                        <th>SID</th>
                                        <th>Research Site Name </th>
                                        <th>RC Site Review</th>
                                        <th>RC Site Status</th>
                                        <th>RC Site change Status Date</th>
                                        <th>Research Site Code</th>
                                        <th>Reason/Comment</th>
                                        <th>Sections to be Unlocked</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <div class="offset-5">
                            <input type="button" value="Update" class="btn btn-info" />
                            <input type="button" value="Cancel" class="btn btn-info" data-dismiss="modal" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    //
    $(".btnAddResearchSite").click(function () {

        $("#myModal").modal({ backdrop: 'static', keyboard: false, show: true })

    });
    $(document).ready(function(){
    $(".datepicker").datepicker({
        autoclose: true
    });
    $('#tblRCDetails').DataTable({
        dom: 'Bfrtip',
        "scrollY": "300px",
        "scrollX": "250px",
        "scrollCollapse": true,
        buttons: [
        ]

    });
    })
</script>
<style>
    .modal-dialog.manage {
        width: auto;
        min-width: 1200px;
    }
</style>