﻿
@{
    ViewBag.Title = "RC Application";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details_URL = "";
    ViewBag.Create_Details = "";
}
<div class="card">
    <div class="card-body">
        <button class="btn btn-link text-info font-weight-bold" type="button" data-toggle="collapse" data-target="#instructions" aria-expanded="true" aria-controls="instructions">
            General Instructions
        </button>
        <ul id="instructions" class="list-icons list-unstyled collapse show">
            <li><i class="ti-angle-right"></i> Submit completed application to <a class="text-info" href="mailto:#">collaborator@nsabp.org</a>.</li>
            <li><i class="ti-angle-right"></i> Definitions for the Research Collaborator Structure can be located at [WEBSITE].</li>
            <li><i class="ti-angle-right"></i> Each Program Coordinator listed will be contacted to schedule a site qualification conference call.</li>
            <li><i class="ti-angle-right"></i> The Research Collaborator Review Committee ("RCRC") will review the application and qualification information.</li>
            <li><i class="ti-angle-right"></i>The Collaborating Scientific Investigator (CSI) and Program Coordinator listed on the application will receive notification of the RCRC's decision which will include information regarding next steps.</li>
        </ul>

        <hr />
        <div class="form-group row">
            <div class="col-md-6">
                Application Type
            @*</div>
            <div class="col-md-3">*@
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="Application" name="apptype" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="Application">Application</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="Affirmation" name="apptype" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="Affirmation">Affirmation</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                IsResubmitted
            @*</div>
            <div class="col-md-3">*@
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsResubmittedChk" name="IsResubmitted" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsResubmittedChk">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="IsResubmittedUnChk" name="IsResubmitted" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="IsResubmittedUnChk">No</label>
                    </div>
                    </div>
                </div>
            </div>
        <div class="form-group row Application">
            <div class="col-md-2">
                SID
            </div>
            <div class="col-md-3">
                <input type="text" readonly="readonly" class="form-control" id="SID" />
            </div>
        </div>
        <div class="form-group row Affirmation ">
            <div class="col-md-2">
                RC ID
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="RCID" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 1. Research Collaborator - the entity that is the lead institution of a network of Research sites.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Name of the Institution
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="txtInstName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 1)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address1" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                Address (line 2)
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Address2" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                Country
            </div>
            <div class="col-md-2">
                <select class="form-control" id="ddl_Country">
                    <option value="0">Select Country</option>
                    <option value=CA selected>Canada</option>
                    <option value=USA>United States of America</option>
                    <option value=IRE>Ireland</option>
                </select>
            </div>
            <div class="col-md-2">
                State/Province
            </div>
            <div class="col-md-2">
                <select class="form-control" id="ddl_State">
                    <option value="0">Select State</option>
                    <option value=CA selected>State1</option>
                    <option value=USA>State2</option>
                    <option value=IRE>State3</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2 ">
                City
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="city" />
            </div>
            <div class="col-md-2">
                ZIP/Postal Code
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="zip" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Attention
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="Attention" />
            </div>
            <div class="col-md-2">
                Department
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="Department" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Teaching Hospital
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="TeachingHospitalChk" name="TeachingHospital" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="TeachingHospitalChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="TeachingHospitalUnChk" name="TeachingHospital" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="TeachingHospitalUnChk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Do you have additional Research Sites? . (If yes, complete a Research Site Addendum page for each Research Site)
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="additionalResearchSitesChk" name="additionalResearchSites" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="additionalResearchSitesChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="additionalResearchSitesUNChk" name="additionalResearchSites" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="additionalResearchSitesUNChk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Is a fully executed contract required prior to activation?
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="priorToactivationChk" name="priorToactivation" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="priorToactivationChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="priorToactivationUnchk" name="priorToactivation" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="priorToactivationUnchk">No</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                Is a fully executed contract required prior to enrollment?
            </div>
            <div class="col-md-2 form-check form-check-inline ">
                <div class="custom-control custom-radio ">
                    <input type="radio" id="priorToenrollmentChk" name="priorToenrollment" class="custom-control-input form-check-input">
                    <label class="custom-control-label " for="priorToenrollmentChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="priorToenrollmentUnchk" name="priorToenrollment" class="custom-control-input form-check-input">
                    <label class="custom-control-label" for="priorToenrollmentUnchk">No</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 2. The Legal Entity - is authorized to enter into contracts on behalf of the Research Collaborator. The Legal Entity can be the same as the Research Collaborator.
            </div>
            <div class="col-md-2">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info wrap">Load Address</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox align-content-center">
                <input type="checkbox" id="Legal" name="Legal" class="custom-control-input">
                <label class="custom-control-label" for="Legal"> Is Legal Entity same as Research Collaborator.  </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Name of Legal Entity
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="NameofLegalEntity" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Address
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Address" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Attention
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="Attention1" />
            </div>
            <div class="col-md-2">
                Department
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="Department1" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 3. The Payee Name - the name of the institution that checks are made payable to. This defaults to the Research Collaborator unless another name is provided.

            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox align-content-center">
                <input type="checkbox" id="Payee" name="Payee" class="custom-control-input">
                <label class="custom-control-label" for="Payee"> Is Payee Name same as Research Collaborator. </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Payee Name
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="PayeeName" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 4. Clinical Trial Activities - performed at the Research Collaborator location. Mark all that apply.
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Regulatory Activities
            </div>
            <div class="col-md-8">
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="IRB" name="IRB" class="custom-control-input">
                    <label class="custom-control-label" for="IRB">IRB Submission </label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="SafetyReport" name="SafetyReport" class="custom-control-input">
                    <label class="custom-control-label" for="SafetyReport">Safety Report Submission</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="InvestigatorDocuments" name="InvestigatorDocuments" class="custom-control-input">
                    <label class="custom-control-label" for="InvestigatorDocuments">Completion of Investigator Documents</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="None" name="None" class="custom-control-input">
                    <label class="custom-control-label" for="None">None of the above</label>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-4">
                Study Participant Activities
            </div>
            <div class="col-md-8">
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="Screened" name="Screened" class="custom-control-input">
                    <label class="custom-control-label" for="Screened">Subjects are Screened at this location</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="Consented" name="Consented" class="custom-control-input">
                    <label class="custom-control-label" for="Consented">Subjects are Consented at this location</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="studytreatment" name="studytreatment" class="custom-control-input">
                    <label class="custom-control-label" for="studytreatment">Administration of study treatment at this location</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="None1" name="None1" class="custom-control-input">
                    <label class="custom-control-label" for="None1">None of the above</label>
                </div>
            </div>

        </div>
        <div class="form-group row">

            <div class="col-md-4">
                Data Management Activities
            </div>
            <div class="col-md-8">
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="Screened" name="Screened" class="custom-control-input">
                    <label class="custom-control-label" for="Screened">CRF/eCRF</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="Consented" name="Consented" class="custom-control-input">
                    <label class="custom-control-label" for="Consented">Original data/source documents are housed at this </label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="studytreatment" name="studytreatment" class="custom-control-input">
                    <label class="custom-control-label" for="studytreatment">Original data/source documents can be sent to another site for monitoring visits</label>
                </div>
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="None2" name="None2" class="custom-control-input">
                    <label class="custom-control-label" for="None2">None of the above</label>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-4">
                On-Site Monitoring
            </div>
            <div class="col-md-8">
                <div class="col-md-2 form-check form-check-inline ">
                    <div class="custom-control custom-radio ">
                        <input type="radio" id="OnSiteMonitoringchk" name="OnSiteMonitoring" class="custom-control-input form-check-input">
                        <label class="custom-control-label " for="OnSiteMonitoringchk">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="OnSiteMonitoringUnchk" name="OnSiteMonitoring" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="OnSiteMonitoringUnchk">No</label>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 5. Pharmacy Information - for the Research Collaborator.
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Name of Pharmacy
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Pharmacy" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Address
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Address2" />
            </div>
        </div>

    </div>
</div>
<div class="card Application">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-10 text-info font-weight-bold">
                Section 6. Key Personnel
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6a. Collaborating Scientific Investigator (CSI)
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load CSI</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Name of Pharmacy
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Pharmacy" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Address
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="Address2" />
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6b. Program Coordinator (PC)
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load PC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>
        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6c. Contract Contact
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load CC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>

        <div class="form-group row ">
            <div class="col-md-10 text-info">
                6d. Fiscal Contact (FC)
            </div>
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load FC</button>&nbsp;&nbsp;
            <button type="button" class="btn waves-effect waves-light btn-rounded btn-sm btn-info">Load Address</button>
        </div>


    </div>
</div>
<div class="card Application">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 7. Performance Indicators
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-info">
                Number of Patients
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                What is the average number of NEW breast and colorectal patients seen in your network per year?
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-md-2">
                Breast
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" min="1" id="Breast" />
            </div>
            <div class="col-md-2">
                Colorectal
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" min="1" id="Colorectal" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12 text-info">
                Accrual
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                What is your network's accrual in breast and colorectal studies over the past 12 months?
            </div>
        </div>
        <div class="form-group row ">
            <table id="tbl" class="col-md-5 table table-bordered">
                <thead><tr><th></th><th>Industry </th><th>Federal</th><th>Total </th></tr></thead>
                <tbody>
                    <tr>
                        <td>Breast </td>
                        <td><input type="number" id="00" class="col-md-10" min="0" /></td>
                        <td><input type="number" id="01" class="col-md-10" min="0" /></td>
                        <td><span id="02">0</span></td>
                    </tr>
                    <tr>
                        <td>Colorectal </td>
                        <td><input type="number" id="10" class="col-md-10" min="0" /></td>
                        <td><input type="number" id="11" class="col-md-10" min="0" /></td>
                        <td><span id="12">0</span></td>
                    </tr>
                    <tr>
                        <td>Total </td>
                        <td><span id="20">0</span></td>
                        <td><span id="21">0</span></td>
                        <td><span id="22">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-info">
                Audits
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10">
                Have any audits of your network institution(s) in the past two calendar years resulted in the identification of critical findings?
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-radio">
                    <input type="radio" id="criticalChk" name="critical" class="custom-control-input">
                    <label class="custom-control-label" for="criticalChk">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="criticalUnChk" name="critical" class="custom-control-input">
                    <label class="custom-control-label" for="criticalUnChk">No</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                If yes, please attach a copy of the applicable CAPA.
            </div>
            <div class="col-md-4">
                <input class="btn btn-" type="file" />
            </div>
        </div>
    </div>
</div>
<div class="card Application ">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-12 text-info font-weight-bold">
                Section 8. Research Collaborator Representative Signature
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Collaborating Scientific Investigator Signature
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="Signature" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                Date (MM/DD/YYYY)
            </div>
            <div class="col-md-4">
                <span> <input type="text" class="form-control col-md-11" id="date" /><i class="icon-calender"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="card  ">
    <div class="card-body">

        <div class="row">
            <div class="offset-md-4 col-md-4 ">
                <input type="button" class="btn btn-info" value="Save" onclick="alert('RC applicatin saved successfully');" />
                <input type="button" class="btn btn-info" value="Add Research Site" />
                <input type="button" class="btn btn-info" value="Cancel" />
            </div>

        </div>

    </div>
</div>



<script>
    $(document).ready(function () {


        $('#RCID').mask('0000-000');

        $(".Application").hide();
        $(".Affirmation").hide();
        $("#Application").change(function () {
            if ($("#Application:checked")) {
                $(".Application").show();
                $('.Application').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                });

                $(".Affirmation").hide();
            }
        });
        $("#Affirmation ").change(function () {
            if ($("#Affirmation:checked")) {

                $(".Application").hide();
                $(".Affirmation").show();
                $('.Affirmation').addClass('bounceInLeft animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                });
            }
        });
        $("#tbl").change(function () {
            
            var a = isNaN(parseInt($("#00").val())) ? 0 : parseInt($("#00").val());
            var b = isNaN(parseInt($("#01").val())) ? 0 : parseInt($("#01").val());
            var c = isNaN(parseInt($("#10").val())) ? 0 : parseInt($("#10").val());
            var d = isNaN(parseInt($("#11").val())) ? 0 : parseInt($("#11").val());
            $("#02").text(a + b);
            $("#12").text(c + d);

            $("#20").text(c + a);
            $("#21").text(b + d);
            $("#22").text(parseInt($("#20").text()) + parseInt($("#21").text()));

        })
    });
    $("#date").datepicker({
        autoclose: true
    });
</script>