﻿@model NSABP_Model_BO_.FormEntry_BO



<div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-group row">
        @Html.Label("Protocol", htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-3">
            <select class="form-control" id="Protocol">
                <option value="0">--Select--</option>
                <option value="C13">C-13</option>
                <option value="FB10">FB-10</option>
                <option value="FB11">FB-11</option>
                <option value="FB11">FC-7</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.SiteID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.List_Sites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-10" })
        </div>
        @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label col-md-3 color" })
        <div class="col-md-3">
            @Html.TextBoxFor(Model => Model.Site_Name, new { @class = "form-control col-md-12", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.PatientID, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part1, new { @class = "form-control col-md-12", Value = @Session["Protocol_Code"], @readonly = "readonly" })
        </div>-
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part2, new { @class = "form-control col-md-12", @onkeypress = "return  validateNumbersOnly(event,this.id);" })
        </div>-
        <div class="col-md-2">
            @Html.TextBoxFor(Model => Model.PatientID_Part3, new { @class = "form-control col-md-12", @readonly = "readonly" })

        </div>

    </div>

    <div class="form-group row">

        @Html.LabelFor(model => model.Consent_Date_Shipped, htmlAttributes: new { @class = "control-label col-md-3 required" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Consent_Date_Shipped, new { htmlAttributes = new { @class = "form-control col-md-3 mydatepicker" } })

        </div>
    </div>
    <h4>Patient Status</h4>
    <hr />
    <div class="form-group row">
        @Html.LabelFor(model => model.Patient_Status, htmlAttributes: new { @class = "control-label col-md-3 color required" })
        <div class="col-md-9">

            @Html.DropDownListFor(model => model.Patient_Status, new List<SelectListItem>
            {

                new SelectListItem{ Text="Screen Failure", Value = "Screen Failure" },
                new SelectListItem{ Text="Enrolled", Value = "Enrolled" }

             }, "-select-", new { @class = "form-control col-md-3" })
        </div>
    </div>
    <div class="form-group row">

        @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label col-md-3 required" })

        <div class="col-md-9">
            @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control col-md-3 mydatepicker" } })
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-8 ">
            <input type="button" value="Save" id="btnSave" class="btn btn-info" onclick="alert('Patient Created successfully');" />&nbsp; &nbsp;
            <input type="button" value="Cancel" class="btn btn-info" onclick="window.location.reload();" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#SiteID").change(function () {
            if ($("#SiteID :selected").val() != "") {
                
                $("#Site_Name").empty();
                $("#Site_Name").val('Site_' + $("#SiteID :selected").val());
                var value = $("#SiteID").val();
                if (value.length != 8) {
                    var list = value.split('-');
                    if (list[0].length == 3 && list[1].length == 2)
                        value = '0' + value.substr(0, 4) + '0' + value.substr(4, 6)
                    else if (list[0].length == 4 && list[1].length == 2)
                        value = value.substr(0, 5) + '0' + value.substr(5, 7)
                    else if (list[0].length == 3 && list[1].length == 3)
                        value = value = '0' + value.substr(0, 4) + value.substr(4, 7)
                }
                $("#PatientID_Part3").val(value);
            }
            else {
                $("#Site_Name").val('');
            }

        });
        $("#Protocol").change(function () {
            if ($("#Protocol :selected").val() != "0")
                $("#PatientID_Part1").val($("#Protocol :selected").text());
            else
                $("#PatientID_Part1").val('');
        });

    });
    function validateNumbersOnly(e, id) {
        var value = $('#' + id).val();
        if (value.length < 3) {
            var unicode = e.charCode ? e.charCode : e.keyCode;
            if ((unicode == 8) || (unicode == 9) || (unicode > 47 && unicode < 58)) {
                return true;
            }
            else {
                return false;
            }
        }
        else {
            return false;
        }
    }

    $(document).ready(function () {
        $('#Consent_Date_Shipped').datepicker({
            autoclose: true,
            endDate: 'today'

        }).on('changeDate', function (selected) {
            var startDate = new Date(selected.date.valueOf());
            $('#EntryDate').datepicker('setStartDate', startDate);
        });
        $('#EntryDate').datepicker({
            autoclose: true,
            endDate: 'today'
        });
    });
</script>



