﻿@model IEnumerable<NSABP_Model_BO_.FormFT_BO>

@{
    ViewBag.Title = "GetFormFTDetailsforDMG";
    //  Layout = "~/Views/shared/AdminMaster.cshtml";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>GetFormFTDetailsforDMG</h2>

<div class="table-responsive m-t-40">
    <table id="tbl_UserDetails" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        
                <thead>
                    <tr>
                        <th>
                            Institute Number
                        </th>
                        <th>
                            Institute Name
                        </th>
                        <th>
                            Patient ID
                        </th>
                        <th>
                            FormFT ID
                        </th>
                        <th>
                            Person Completing Name
                        </th>
                        <th>
                            Person Completing Form Phone
                        </th>
                        <th>
                            Person Completing Form Email
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.LiverTumorIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OtherTIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SiteOfOtherTumorTIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SiteOfOtherTumorTIssueName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateBiospecimenCollected)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubMergedIn10PercentFormalinVial)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.shippingCompanyId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shippingCompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.trackingNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateShippedToDivisionOfPathology)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DMG_Receieved_By)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DMG_Receieved_Date)
                        </th>

                        <th>
                            Receive
                        </th>
                        <th>
                            View
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.SiteID
                            </td>
                            <td>
                                @item.Site_Name
                            </td>
                            <td>
                                @item.T9_PatientID
                            </td>
                            <td>
                                @item.Form_FT_ID
                            </td>
                            <td>
                                @item.FormFT_PersonCompletingForm_FName
                            </td>
                            <td>
                                @item.FormFT_PersonCompletingForm_Phone
                            </td>
                            <td>
                                @item.FormFT_PersonCompletingForm_Email
                            </td>
                            <td>
                                @item.LiverTumorIssue
                            </td>
                            <td>
                                @item.OtherTIssue
                            </td>
                            <td>
                                @item.SiteOfOtherTumorTIssue
                            </td>
                            <td>
                                @item.SiteOfOtherTumorTIssueName
                            </td>
                            <td>
                                @item.DateBiospecimenCollected
                            </td>
                            <td>
                                @item.SubMergedIn10PercentFormalinVial
                            </td>

                            <td>
                                @item.shippingCompanyId
                            </td>
                            <td>
                                @item.shippingCompanyName
                            </td>
                            <td>
                                @item.trackingNumber
                            </td>
                            <td>
                                @item.dateShippedToDivisionOfPathology
                            </td>
                            <td>
                                @item.DMG_Receieved_By
                            </td>
                            <td>
                                @item.DMG_Receieved_Date
                            </td>

                            <td>
                                @{if (item.DMG_Receieved_By == null)
                                    {
                                        <button type="button" value="EDIT" class="btn btn-info" onclick="AddEditEmployee(@item.ID)">Receive</button>
                                    }
                                }
                            </td>
                            <td>
                                <button type="button" value="View" class="btn btn-info" onclick="ViewEmployee(@item.ID)">View</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

</div>

<div id="myModal" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Form FT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div id="myModalreceive" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal content for received-->

                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold">Form FT</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" id="myModalBodyDiv2">


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
    var AddEditEmployee = function (Id) {
        var url = "/Form_FT/EditFormFT?ID=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#btnsave").hide();
            $("#btnCancel").hide();
            $("#btnship").val("Receive");
            $("#btnship").attr('id', 'btnReceive');
            $("#divShipControls *").prop('disabled', true);
            $("#FormFT *").prop('disabled', true);
        })
    }

    var ViewEmployee = function (Id) {
        var url = "/Form_FT/EditFormFT?ID=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#btnsave").hide();
            $("#btnCancel").hide();
            $("#btnship").val("Receive");
            $("#Supremediv *").prop('disabled', true);
        })
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#tbl_UserDetails').DataTable({
            dom: 'Bfrtip',
            "order": [[0, 'desc']],
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });


</script>

