﻿@model IEnumerable<NSABP_Model_BO_.FormFT_BO>

@{
    ViewBag.Title = "Form FT Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    if (Session["Role_Name"].ToString() == "SiteUser")
    {
        ViewBag.Create_Details_URL = "/Form_FT/Add_FormFT";
        ViewBag.Create_Details = "Create";
    }
}

<div>
    <table id="example23" class="display nowrap table table-hover table-responsive table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                @{
                    if (Session["Role_Name"].ToString() != "DIT")
                    {
                        <th>
                            Actions
                        </th>
                    }
                }
                <th>
                    View
                </th>
                <th>
                    Institute Number
                </th>
                <th>
                    Institute Name
                </th>
                <th>
                    Patient ID
                </th>
                <th>
                    FormFT ID
                </th>
                <th>
                    Lab Number
                </th>

                <th>
                    Storage Sequence Number
                </th>
                <th>
                    Person Completing Name
                </th>
                <th>
                    Person Completing Form Phone
                </th>
                <th>
                    Person Completing Form Email
                </th>

                <th>
                    Liver Tumor Issue
                </th>
                <th>
                    Other Issue
                </th>
                <th>
                    Other Tumor Issue
                </th>
                <th>
                    Other Tumor Issue Name
                </th>
                <th>
                    Date tumor biopsy specimens collected
                </th>
                <th>
                    Core Biopsy specimen submerged in 10% Formalin Vial collected
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Created On
                </th>
                <th>
                    shippingCompanyId
                </th>
                <th>
                    Shipping Company Name
                </th>
                <th>
                    Tracking Number
                </th>
                <th>
                    Date Specimens shipped to Division of Pathology
                </th>
                <th>
                    DMG Received By
                </th>
                <th>
                    DMG Received Date
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        if (Session["Role_Name"].ToString() != "DIT")
                        {
                            <td>


                                @if (Session["Role_Name"].ToString().ToLower() == "dmg" && item.DMG_Receieved_By == null)
                                {
                                <button type="button" value="Receive" class="btn btn-info" onclick="AddEditEmployeedmg(@item.ID)"> Receive</button>
                                }
                                else if (item.shippingCompanyId == null)
                                {
                                <button type="button" value="EDIT" class="btn btn-info" onclick="AddEditEmployee(@item.ID)"> EDIT</button>
                                }


                            </td>
                        }}
                    <td>
                        <button type="button" value="View" class="btn btn-info" onclick="ViewEmployee(@item.ID)">View</button>
                    </td>
                    <td>
                        @item.SiteID
                    </td>
                    <td>
                        @item.Site_Name
                    </td>
                    <td>
                        @item.T9_PatientID
                    </td>
                    <td>
                        @item.Form_FT_ID
                    </td>
                    <td>
                        @item.Lab_Number
                    </td>
                    <td>
                        @item.StorageSequenceNo
                    </td>
                    <td>
                        @item.FormFT_PersonCompletingForm_FName
                    </td>
                    <td>
                        @item.FormFT_PersonCompletingForm_Phone
                    </td>
                    <td>
                        @item.FormFT_PersonCompletingForm_Email
                    </td>
                    <td>
                        @item.LiverTumorIssue
                    </td>
                    <td>
                        @item.OtherTIssue
                    </td>
                    <td>
                        @item.SiteOfOtherTumorTIssue
                    </td>
                    <td>
                        @item.SiteOfOtherTumorTIssueName
                    </td>
                    <td>
                        @item.DateBiospecimenCollected
                    </td>
                    <td>
                        @item.SubMergedIn10PercentFormalinVial
                    </td>
                    <td>
                        @item.Created_By
                    </td>
                    <td>
                        @item.Created_On
                    </td>
                    <td>
                        @item.shippingCompanyId
                    </td>
                    <td>
                        @item.shippingCompanyName
                    </td>
                    <td>
                        @item.trackingNumber
                    </td>
                    <td>
                        @item.dateShippedToDivisionOfPathology
                    </td>
                    <td>
                        @item.DMG_Receieved_By
                    </td>
                    <td>
                        @item.DMG_Receieved_Date
                    </td>


                </tr>
                        }


        </tbody>
    </table>

</div>
@*</div>
    </div>*@
<div id="myModal" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">

    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Form FT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="myModalreceive" class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bigModal">
            <!-- Modal content for received-->

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Form FT</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv2">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#example23').DataTable({
            dom: 'Bfrtip',
            "columnDefs": [
           {
               "targets": [5, 13, 19],
               "visible": false,
               "searchable": false
           },
           {
               "targets": [0, 1],
               "sorting": false

           }

            ],
            buttons: [
                'excel', 'print'
            ]
        });
        debugger;
        var table = $('#example23').DataTable();
        if ("@Session["Role_Name"]" != "DMG") {
            table.columns([8]).visible(false);
        }
        $('.buttons-print,.buttons-excel').each(function () {
            $(this).removeClass('dt-button').addClass(' btn btn-info')
        })
    });

</script>
<script>
    var AddEditEmployee = function (Id) {

        var url = "/Form_FT/EditFormFT?ID=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#btnsave").val("Update");
            $("#btnsave").attr('id', 'btnUpdate');
            $("#SiteID").prop('disabled', true);
            $("#Site_Name").prop('disabled', true);
            $("#T9_PatientID").prop('disabled', true);
           
        })
    }

    var AddEditEmployeedmg = function (Id) {
        var url = "/Form_FT/EditFormFT?ID=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#btnsave").hide();
            $("#btn_Cancel").hide();
            $("#btnship").val("Receive");
            $("#btnship").attr('id', 'btnReceive');
            $("#divShipControls *").prop('disabled', true);
            $("#FormFT *").prop('disabled', true);
        })
    }

    var ViewEmployee = function (Id) {
        var url = "/Form_FT/EditFormFT?ID=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#btnsave").val("Update");
            $("#btnsave").attr('id', 'btnUpdate');
            $("#Supremediv *").prop('disabled', true);
            $("#btnCancel").prop('disabled', false);
          
        })
    }
</script>
