﻿
@{
    ViewBag.Title = "Create Receipt";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details = "";
    ViewBag.Create_Details_URL = "";
}

<div class="card">
    <div class="card-body">

        <div class="form-group row">
            <label class="col-md-2 color required ">Protocol</label>
            <div class="col-md-3">
                <select class="form-control  col-md-10">
                    <option value="0">--Select--</option>
                    <option value="C-13">C-13</option>
                    <option value="FB-10">FB-10</option>
                    <option value="FB-11">FB-11</option>
                    <option value="FC-7">FC-7</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 color required">Patient</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    <option value="0">--Select--</option>
                    <option value="1">Patient_0</option>
                    <option value="2">Patient_1</option>
                    <option value="3">Patient_2</option>
                    <option value="4">Patient_3</option>
                </select>
            </div>
            <label class="color  col-md-2"> Site ID</label>
            <div class="form-group row col-md-3">
                <input type="text" value="" name="SiteID" class="form-control  col-md-10" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 color ">Lab ID</label>
            <div class="col-md-3">
                <input type="text" value="" name="txtLabid" class="form-control col-md-10" />
            </div>
            <label class="color col-md-2"> Storage Number</label>
            <div class="form-group row col-md-3">
                <input type="text" value="" name="txtStorageNo" class="form-control col-md-10" />
            </div>
        </div>
        <div class="thead-dark"><h5 class="font-weight-bold color">Specimen Details</h5><br /></div>

        <div class="form-group row">
            <label class="col-md-2 color required">Date Received</label>
            <div class="col-md-2">
                <input type="text" value="" name="txtdDatetRecieved" class="form-control col-md-9 datepicker" />
            </div>
            <label class="color required col-md-2"> Date Collected</label>
            <div class="form-group row col-md-2">
                <input type="text" value="" name="txtdDatetCollected" class="form-control datepicker" />
            </div>
            <label class="color required col-md-2 "> Date Preperation</label>
            <div class="form-group row col-md-2">
                <input type="text" value="" name="txtdDatetPreparation" class="form-control datepicker" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 color required">Time Point</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="color required col-md-3"> Specimen Requirement</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 color required">Specimen Category</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="color required col-md-3"> Unit Type</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 color required">Specimen Type</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="color required col-md-3"> Tube Type</label>
            <div class="col-md-2">
                <select class="form-control">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="color required col-md-1">Quantity</label>
            <div class="col-md-1">
                <input type="number" value="" name="txtQuantity" class="form-control" inputmode="numeric" min="1" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 color required">Stain Type</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="color required col-md-3"> Site Type</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 color ">PAN</label>
            <div class="col-md-3">
                <input type="text" value="" name="txtPAN" class="form-control col-md-10" />
            </div>
            <label class="color col-md-3"> Block Id </label>
            <div class="col-md-3">
                <input type="text" value="" name="txtBlockId" class="form-control col-md-10" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 ">
                <div class="form-check form-check-inline ">
                    <div class="custom-control custom-radio ">
                        <input type="radio" id="adequate" name="adequate" class="custom-control-input form-check-input">
                        <label class="custom-control-label " for="adequate">Adequate</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="InAdequte" name="adequate" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="InAdequte">InAdequate</label>
                    </div>
                </div>
            </div>
            @*<input type="radio" value="Adequte" name="adequate" /> <label class="color col-md-2"> Adequate</label>
                <div class="col-md-3">
                    <input type="radio" value="InAdequte" name="adequate" /><label class="color required"> InAdequate</label>
                </div>*@
            <label class="color col-md-3"> Condtion Received</label>
            <div class="col-md-3">
                <select class="form-control col-md-10"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label id="lbltypeofComment"> Type Of Comment</label>
            </div>

            <div class="col-md-10 ">
                <div class="form-check form-check-inline" >
                    <div class="custom-control custom-radio ">
                        <input type="radio" id="Specimen" name="Comment" class="custom-control-input form-check-input">
                        <label class="custom-control-label " for="Specimen">Specimen</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="Quality" name="Comment" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="Quality">Quality</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="Comment" id="Case" class="custom-control-input form-check-input">
                        <label class="custom-control-label" for="Case">Case</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <label id="lbltypeofComment" class="col-md-2"> Received Comments</label>

            <div>
                @*<input type="text" value="" name="txtReceivedComment" rows="5" cols="40" />*@
                <textarea class="form-control" rows="3" cols="100" id="comment" wrap="soft"></textarea>
            </div>

        </div>
        <div class="form-group row">
            <div class="offset-4">
                <input type="button" id="btnAdd" value="Add" class="btn btn-info" />&nbsp;&nbsp;
                <input type="button" id="btnClear" value="Clear" class="btn btn-info" />&nbsp;&nbsp;
                <input type="button" id="btnAddMore" value="AddMore" class="btn btn-info" />
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            autoclose: true
        });

    });
</script>
