﻿@model IEnumerable<NSABP_Model_BO_.FormEntry_BO>
@{
    ViewBag.Title = "Form Entry Details ";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details_URL = "/FormEntry/FormEntry";
    ViewBag.Create_Details = "Create";

}
<div class="card">
    <div class="card-body">

        <table id="example23" class="display nowrap table table-hover table-responsive table-striped table-bordered info-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>View</th>
                    <th>
                        ID
                    </th>
                    <th>
                        Institution
                    </th>

                    <th>
                        Institution name
                    </th>
                    <th>
                        Lab number
                    </th>
                    <th>
                        Patient ID
                    </th>
                    @*<th>
                            Storage Seq Num
                        </th>*@
                    <th>
                        Consent Date
                    </th>
                    <th>
                        Patient Status

                    </th>
                    <th>
                        Entry Date
                    </th>
                    <th>
                        Created by
                    </th>
                    <th>
                        Created on
                    </th>
                    <th>
                        FormFTCreatedDate
                    </th>

                    <th>
                        FormBLKCreatedDate
                    </th>
                    <th>
                        FormBLKLabReceiveddDate
                    </th>

                    <th>
                        Record Status
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <button type="button" value="EDIT" class="btn btn-info" onclick="AddEditFormEntry(@item.ID)"> EDIT</button>
                        </td>
                        <td>
                            <button type="button" value="view" class="btn btn-info" onclick="AddEditFormEntryforview(@item.ID)"> view</button>
                        </td>

                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.SiteID
                        </td>

                        <td>
                            @item.Site_Name
                        </td>
                        <td>
                            @item.Lab_Number
                        </td>
                        <td>
                            @item.PatientID

                        </td>
                        @*<td>
                                @item.Storage_Seq_Num
                            </td>*@
                        <td>
                            @item.Consent_Date_Shipped
                        </td>
                        <td>
                            @item.Patient_Status
                        </td>
                        <td>
                            @item.EntryDate
                        </td>
                        <td>
                            @item.Created_by
                        </td>
                        <td>
                            @item.Created_on
                        </td>
                        <td>
                            @item.FormFTCreatedDate
                        </td>

                        <td>
                            @item.FormBLKCreatedDate
                        </td>
                        <td>
                            @item.FormBLKLabReceiveddDate

                        </td>
                        @*<td>
                                @item.FormBLKDITConfirmedDate
                            </td>

                            <td>
                                @item.FormBNK1CreatedDate
                            </td>
                            <td>
                                @item.FormBNK1LabReceiveddDate
                            </td>
                            <td>
                                @item.FormBNK2CreatedDate
                            </td>
                            <td>
                                @item.FormBNK2LabReceiveddDate
                            </td>
                            <td>
                                @item.FormBNK3CreatedDate

                            </td>
                            <td>
                                @item.FormBNK3LabReceiveddDate
                            </td>
                            <td>
                                @item.Form_Return
                            </td>*@
                        <td>
                            @item.Record_Status
                        </td>

                    </tr>

                }
            </tbody>

        </table>

    </div>
</div>
<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @*<input type="submit" value="Save" class="btn btn-info" />*@

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <input type="button" value="Update" id="btnUpdate" class="btn btn-info col-md-2" />&nbsp; &nbsp;
                    <input type="button" value="Cancel" class="btn btn-info col-md-2" data-dismiss="modal" />
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var AddEditFormEntry = function (FormEntryID) {

        var url1 = "/FormEntry/FormEntryEdit?ID=" + FormEntryID;

        $("#myModalBodyDiv1").load(url1, function () {

            $("#myModal").modal("show");
            $("#SiteID").prop("disabled", true);
            $("#PatientID_Part2").prop("disabled", true);
            $("#btnUpdate").show();
        })

    }
    var AddEditFormEntryforview = function (FormEntryID) {

        var url1 = "/FormEntry/FormEntryEdit?ID=" + FormEntryID;

        $("#myModalBodyDiv1").load(url1, function () {

            $("#myModal").modal("show");
            $("#SiteID").prop("disabled", true);
            $("#PatientID_Part2").prop("disabled", true);
            $("#EntryDate").prop("disabled", true);
            $("#Patient_Status").prop("disabled", true);
            $("#Consent_Date_Shipped").prop("disabled", true);
            $("#btnUpdate").hide();

        })

    }

    $(document).ready(function () {

        $('#btnUpdate').click(function () {
            //    var data = JSON.stringify($("#testform").serialize());
            if($('#ID').val())
            {

            }
            if ($('#PatientID_Part2').val().trim() == '') {
                alert("Please enter PatientID");
                $('#PatientID_Part2').focus();
                return;
            }

            if ($('#EntryDate').val().trim() == '') {
                alert("Please enter Entrydate");
                $('#EntryDate').focus();
                return;
            }
            if ($("#Patient_Status :selected").val() == 0) {
                alert("Please select patient status");
                $("#Patient_Status").focus();
                return;
            }
            if ($("#Consent_Date_Shipped").val().trim() == '') {
                alert("Please enter Consent shipped Date");
                $("#Consent_Date_Shipped").focus();
                return;
            }

            
            var data = {
                ID: $('#ID').val(),
                EntryDate: $('#EntryDate').val(),
                Patient_Status: $('#Patient_Status option:selected').val(),
                Consent_Date_Shipped: $('#Consent_Date_Shipped').val(),

            }

            $.post("/FormEntry/FormEntryEdit", data, function (data) {
                if (data.status == 'success') {
                    alert(data.msg);
                    window.location.reload();
                }
            });
        });
    });
</script>
<style>
    .buttons-print, .buttons-excel {
        background-color: #03a9f3 !important;
        border-color: #03a9f3;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //
        $('#example23').DataTable({
            dom: 'Bfrtip',
            "columnDefs": [
                   {
                       "targets": [2,10,11],
                       "visible": false,
                       "searchable": false
                   },

            ],
            buttons: [
                 'excel', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-info mr-1');
        //  $('#example23').DataTable();
    });

</script>