﻿@model IEnumerable<NSABP_Model_BO_.FormEntry_BO>
@{
    ViewBag.Title = "FormEntryEdit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    if (Session["Role_Name"].ToString() == "DIT")
    {
        ViewBag.Create_Details_URL = "/FormEntry/FormEntryDetails";
        ViewBag.Create_Details = "Details";
    }
}

<h2>FormEntryEdit</h2>
<div class="panel-body">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-9 ">
            @Html.Partial("~/Views/FormEntry/PartialViews/P_FormEntry.cshtml", Model)
        </div>

    </div>
    <hr />
    <br />
   
</div>
<script>

    $(document).ready(function () {
        
        $("#PatientID_Part2").attr('disabled', 'disabled');

    });
   
</script>
<script>
    //$(function () {
    $(document).ready(function () {
        $('.mydatepicker').datepicker({
            autoclose: true
            //format: 'dd/mm/yyyy'
        });
    });
    //});
</script>

