﻿@model NSABP_Model_BO_.FormEntry_BO
@{
    /**/

    ViewBag.Title = "Form Entry";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

    ViewBag.Create_Details_URL = "/FormEntry/FormEntryDetails";
    ViewBag.Create_Details = "Details";

}
<form id="testform">
    <div class="card">   
    <div class="card-body">       
        <div class="row " id="FormBody">
            <div class="col-md-1"></div>
            <div class="col-md-9 ">
                @Html.Partial("~/Views/FormEntry/PartialViews/P_FormEntry.cshtml", Model)
            </div>
        </div>      
    </div>
    </div>
</form>





