﻿@model NSABP_Model_BO_.FormBNK_BO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>P_FormBNKCreate</title>
  
</head>
<body>
    @{
        if (ViewBag.Message != null)
        {
            <script>
                $(function () {
                    alert(ViewBag.Message);
                });
            </script>
        }
    }
    @*@using (Html.BeginForm())
        {*@
    @*@Html.AntiForgeryToken()*@

    <div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="form-group row">
            @Html.LabelFor(model => model.SiteID, htmlAttributes: new { @class = "control-label col-md-3 color" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.List_Sites, "Site_Name", "SiteID"), "--select--", new { @class = "form-control col-md-10" })

            </div>
            @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label col-md-3 color" })
            <div class="col-md-3">
                @*@Html.TextBox("SiteName", null, new { disabled = "disabled", @class = "form-control col-md-12" })*@
                @Html.TextBoxFor(Model => Model.Site_Name, new { @class = "form-control col-md-12", disabled = "disabled" })
            </div>
            <script>
                $(function () {
                    $("#SiteID").change(function () {
                        $("#Site_Name").val($(this).val());
                    });
                });
            </script>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.PatientID, htmlAttributes: new { @class = "control-label col-md-3 color" })
            <div class="col-md-9">

                @Html.DropDownListFor(model => model.PatientID, new SelectList(Model.list_Patients, "Patient_ID", "Patient_ID"), "--select--", new { @class = "form-control col-md-6" })
                @Html.ValidationMessageFor(model => model.PatientID, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Person completing form</h5>
        <hr />
        <div class="form-group row">
            @Html.LabelFor(model => model.FormBNK_PersonCompletingForm_FName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FormBNK_PersonCompletingForm_FName, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-10" } })
            </div>
            @Html.LabelFor(model => model.FormBNK_PersonCompletingForm_LName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FormBNK_PersonCompletingForm_LName, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-10" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.FormBNK_PersonCompletingForm_Phone, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FormBNK_PersonCompletingForm_Phone, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-10" } })
            </div>
            @Html.LabelFor(model => model.FormBNK_PersonCompletingForm_Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FormBNK_PersonCompletingForm_Email, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-10" } })
            </div>
        </div>

        <h5>Required Research Blood Samples</h5>
        <hr />
        <h6>Cycle 1 Day 1 :-</h6>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Dt_of_D1C1_of_neratinib_and_TDM1, new { htmlAttributes = new { @class = "form-control col-md-10 Date-Control" } })
            </div>
            @Html.LabelFor(model => model.Dt_of_D1C1_of_neratinib_and_TDM1, htmlAttributes: new { @class = "control-label col-md-6" })

        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Time_neratinib_dose_was_taken_D1C1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.Time_neratinib_dose_was_taken_D1C1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Time_TDM1_dose_D1C1_started, new { htmlAttributes = new { @class = "form-control col-md-5 Date-Control" } })
            </div>
            @Html.LabelFor(model => model.Time_TDM1_dose_D1C1_started, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Dt_samples_Collected_C1D1, new { htmlAttributes = new { @class = "form-control col-md-10 Date-Control" } })
            </div>
            @Html.LabelFor(model => model.Dt_samples_Collected_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Time_samples_collected_C1D1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.Time_samples_collected_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.RadioButtonFor(model => model.Peripheral_venous, true)
                @Html.LabelFor(model => model.Peripheral_venous, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>

            <div class="col-md-6">

                @Html.RadioButtonFor(model => model.Peripheral_venous, false)
                @Html.LabelFor(model => model.Central_Access_Device, htmlAttributes: new { @class = "control-label col-md-6" })
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Time_Centrifugation_occured_C1D1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.Time_Centrifugation_occured_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.Time_samples_was_frozen_C1D1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.Time_samples_was_frozen_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.No_of_Blue_Top_microtubes_frozen_prior_to_C1D1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.No_of_Blue_Top_microtubes_frozen_prior_to_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                @Html.EditorFor(model => model.No_of_Yellow_Top_microtubes_frozen_prior_to_C1D1, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            </div>
            @Html.LabelFor(model => model.No_of_Yellow_Top_microtubes_frozen_prior_to_C1D1, htmlAttributes: new { @class = "control-label col-md-6" })
        </div>
        <div class="form-group row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <input type="submit" value="Save" id="btnsave" name="save" class="btn btn-primary" />&nbsp; &nbsp;
                <input type="button" value="Cancel" class="btn btn-primary" />
            </div>
        </div>

    </div>
    @*}*@

    <script>
        $(function () {
            $(".Date-Control").datepicker().val('');
        });
        $(document).ready(function () {

            $('#btnsave').click(function () {
                
                var data = {
                    T1_PatientID: $('#PatientID').val(),
                    PatientID: $('#PatientID').val(),
                    FormBNK_PersonCompletingForm_FName: $('#FormBNK_PersonCompletingForm_FName').val(),
                    FormBNK_PersonCompletingForm_LName: $('#FormBNK_PersonCompletingForm_LName').val(),
                    FormBNK_PersonCompletingForm_Phone: $('#FormBNK_PersonCompletingForm_Phone').val(),
                    FormBNK_PersonCompletingForm_Email: $('#FormBNK_PersonCompletingForm_Email').val(),
                    Dt_of_D1C1_of_neratinib_and_TDM1: $('#Dt_of_D1C1_of_neratinib_and_TDM1').val(),
                    Time_neratinib_dose_was_taken_D1C1: $('#Time_neratinib_dose_was_taken_D1C1').val(),
                    Time_TDM1_dose_D1C1_started: $('#Time_TDM1_dose_D1C1_started').val(),
                    Dt_samples_Collected_C1D1: $('#Dt_samples_Collected_C1D1').val(),
                    Time_samples_collected_C1D1: $('#Time_samples_collected_C1D1').val(),
                    Time_Centrifugation_occured_C1D1: $('#Time_Centrifugation_occured_C1D1').val(),
                    Time_samples_was_frozen_C1D1: $('#Time_samples_was_frozen_C1D1').val(),
                    No_of_Yellow_Top_microtubes_frozen_prior_to_C1D1: $('#No_of_Yellow_Top_microtubes_frozen_prior_to_C1D1').val(),
                    No_of_Blue_Top_microtubes_frozen_prior_to_C1D1: $('#No_of_Blue_Top_microtubes_frozen_prior_to_C1D1').val(),
                    Peripheral_venous: $('#Peripheral_venous').val()
                }
                $.post("/Form_BNK/FormBNK_Create", data, function (data) {
                    alert(data);
                });
            });
        });
    </script>
</body>
</html>
