﻿
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel-body">
    <div class="row ">

        <div class="col-md-3 ">
            <div class="form-group row">
                <div class="input-daterange input-group" id="date-range1">
                    <input type="text" class="form-control" id="dtstart1" name="start" />
                    <div class="input-group-append">
                        <span class="input-group-text bg-info b-0 text-white">TO</span>
                    </div>
                    <input type="text" class="form-control" id="dtend1" name="end" />
                </div>

            </div>
        </div>
        <div class="col-md-1 ">
 
            <button type="button" id="btnGo" class="btn waves-effect waves-light btn-rounded btn-outline-info">Go</button>
        </div>
    </div>
</div>
<div>
    <table id="tblReport" class="table nowrap   table-hover color-table success-table">
        <thead>
            <tr>
                <th>
                    <i id="i_expnd" style="color:indianred;font-weight:bold" class="ti-arrow-circle-right" data-toggle="tooltip" title="Expand/Collpase"></i>
                    @*<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Expand/Collapse</label>
                        </div>*@
                </th>
                <th>ID </th>
                <th>Form ID </th>
                <th>Site ID </th>
                <th>Site Name </th>
                <th> Patient ID </th>
                <th>LabNumber </th>
                <th>Storage No </th>
                <th>Created By </th>
                <th>Created On</th>
                <th>Shipping Company</th>
                <th>Tracking Number </th>
                <th>Receieved By</th>
                <th>Received On</th>

            </tr>
        </thead>

    </table>
</div>
<script>
    function LoadChildData(tblId, ID) {
        var subtable = $('#' + tblId).DataTable({
            //"processing": true,
            "bPaginate": false,
            "searching": false,
            //"serverSide": true,
            "ordering": false,
            "info": false,
            "ajax": {
                "url": "@Url.Action("GetReports", "Reports")",
                "type": "POST",
                "data": { startdate: $("#dtstart1").val(), enddate: $("#dtend1").val() },
                "datatype": "json"
                //data: { startdate: $("#dtstart1").val(), enddate: $("#dtend1").val() },
            },
            "columns": [
           { data: "FormID" },
           { data: "SiteID" },
           { "data": "SiteName" },
           { "data": "PatientID" },
           { "data": "LabNumber" },
           { "data": "StorageNo" }
           /*and so on, keep adding data elements here for all your columns.*/
            ]
        });

    }
    function childtable(id) {

        return '<table id="' + id + '" class="display">' +
        ' <thead>' +
            ' <tr>' +
                 '<th>Form ID </th>' +
                 '<th>Site ID </th>' +
                 '<th>Site Name </th>' +
                 '<th> Patient ID </th>' +
                 '<th>LabNumber </th>' +
                 '<th>Storage No </th>' +
            ' </tr>' +
        ' </thead>' +

    ' </table>'
    }
    $(document).ready(function () {
        var tbl = $('#tblReport').DataTable({
            dom: 'Bfrtip',
            select: {
                style: 'multi'
        },
            scrollY: "250px",
            scrollX: true,

            //retrieve: true,
            destroy: true,//to over come reintilize prblms
            bFilter: true,
            "ajax": {
                "url": "@Url.Action("GetReports", "Reports")",
                "type": "POST",
                "data": { startdate: $("#dtstart1").val(), enddate: $("#dtend1").val() },
                "datatype": "json"
            },
            columns: [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<i class="ti-arrow-circle-right" title="Expand/Collapse"></i>'
                },
                { 'data': 'ID', 'visible': false },
                { 'data': 'FormID' },//"orderable": false
                { 'data': 'SiteID' },
                { 'data': 'SiteName' },
            {
                'data': 'PatientID',
                "render": function (data, type, row, meta) {
                    data = '<span class="label label-success">' + data + '</span>';
                    return data;
                }
            },
            { 'data': 'LabNumber' },
                { 'data': 'StorageNo' },
                  { 'data': 'CreatedBy' },
            { 'data': 'CreatedOn' },
                { 'data': 'ShippingCompany' },
                 { 'data': 'TrackingNumber' },
            { 'data': 'ReceievedBy' },
                { 'data': 'ReceivedOn' },

            ],
            buttons: [
        //{
        //      extend: 'selected',
        //      text: 'Select All',
        //      action: function (e, dt, button, config) {
        //          alert(dt.rows({selected: true }).indexes().length + ' row(s) selected');
        //      }
        //},
         {
             text: 'Export',
             action: function () {
                 fnExcelReport();
             }
         },
          , {
              text: 'Refresh',
              action: function () {

                  tbl.search("").draw();
                  tbl.draw().order([[1, 'asc']]);
                  $("#i_expnd").removeClass("ti-arrow-circle-right");
                  tbl.rows().deselect();
                  if (!$("#i_expnd").hasClass('ti-arrow-circle-down'))
                      $("#i_expnd").addClass('ti-arrow-circle-down');
                  $("#i_expnd").trigger("click");

              }
          }
            ]
        });
        $("#btnGo").on('click', function () {          
            var tbl = $('#tblReport').DataTable({
                dom: 'Bfrtip',
                scrollY: "250px",
                scrollX: true,
                destroy: true,//to over come reintilize prblms
                bFilter: true,
                "ajax": {
                    "url": "@Url.Action("GetReports", "Reports")",
                    "type": "POST",
                    "data": { startdate: $("#dtstart1").val(), enddate: $("#dtend1").val() },
                    "datatype": "json",
                    error: function (result) {
                        alert("Error");
                        window.location.href = '@Url.Action("LoginPage", "UserLogin")';
                    }
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '<i class="ti-arrow-circle-right" title="Expand/Collpase"></i>'
                    },
                    { 'data': 'ID', 'visible': false },
                    { 'data': 'FormID' },
                    { 'data': 'SiteID' },
                    { 'data': 'SiteName' },
                { 'data': 'PatientID' },
                { 'data': 'LabNumber' },
                    { 'data': 'StorageNo' },
                      { 'data': 'CreatedBy' },
                { 'data': 'CreatedOn' },
                    { 'data': 'ShippingCompany' },
                     { 'data': 'TrackingNumber' },
                { 'data': 'ReceievedBy' },
                    { 'data': 'ReceivedOn' },

                ],
                buttons: [
          {
              extend: 'excel',
              exportOptions: {
                  columns: ':visible'
              }
          },  {
              text: 'Refresh',
              action: function () {
                  tbl.search("").draw();
                  tbl.draw().order([[1, 'asc']]);
                  $("#i_expnd").removeClass("ti-arrow-circle-right");
                  if (!$("#i_expnd").hasClass('ti-arrow-circle-down'))
                      $("#i_expnd").addClass('ti-arrow-circle-down');
                  $("#i_expnd").trigger("click");
              }
          }
                ]
            })
            $(".dt-button").removeClass('dt-button').addClass(' btn btn-info')
           
        })
        function childshow(id, isparent) {
            debugger;
            var tr = $(id).closest('tr');
            var tbl = $('#tblReport').DataTable();
            var row = tbl.row(tr);
            if (row.child.isShown()) {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-right') || !isparent) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-right" title="Expand/Collpase"></i>';
                }
            }
            else {
                if (isparent && $("#i_expnd").hasClass('ti-arrow-circle-down') || !isparent) {
                    // Open this row
                    var ID = row.data().ID;
                    var childtblid = 'child_' + row.data().ID;
                    row.child(childtable(childtblid)).show();
                    tr.addClass('shown');
                    tr[0]["cells"][0].innerHTML = '<i class="ti-arrow-circle-down" title="Expand/Collpase"></i>';
                    LoadChildData(childtblid, ID);
                }
            }
        }
        $('#tblReport tbody').on('click', 'td.details-control', function () {
            childshow(this, false);
        });
        $("#i_expnd").click(function () {
            $("#i_expnd").toggleClass("ti-arrow-circle-right");
            $("#i_expnd").toggleClass('ti-arrow-circle-down');
            $("#tblReport tbody tr .details-control").each(function () {
                childshow(this, true);
            }); 
        });
    });

</script>
<style>
    td.details-control i {
        cursor: pointer;
        color: #e46a76;
        font-weight: bold;
    }
</style>
<script>
    $(document).ready(function () {
        $(".dt-button").removeClass('dt-button').addClass(' btn btn-info') // to chang grid buttons color  
    })
    jQuery('#date-range1').datepicker({
        toggleActive: true
    });
    function fnExcelReport() {
        debugger;
        var tab_text = "<table border='2px'><tr >";
        var textRange; var j = 0;
        tab = document.getElementById('tblReport'); // id of table
        for (j = 0 ; j < tab.rows.length ; j++) {

            tab_text = tab_text + tab.rows[j].innerHTML.replace("<table", "<table bgcolor='#f0f0f5'") + "</tr>";
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params           
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "download.xls");
        }
        else {               //other browser not tested on IE 11
            //sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text)); 
            var a = document.createElement('a');
            var todaysDate = moment().format('MMDDYYYY');
            a.href = 'data:application/vnd.ms-excel,' + encodeURIComponent(tab_text);
            a.download = 'Reports_' + todaysDate + '.xls';
            a.click();

        }

    }
</script>


