﻿
@{
    ViewBag.Title = "Protocol Setup";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card">
    <div class="card-body ">
        <div class="form-group row">
            <div class="col-md-2">
                Protocol Code
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="protocolcode" value="" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Protocol Name
            </div>
            <div class="col-md-4">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Disease Site:
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="protocolcode" value="" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Pre-Activation Date
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control " name="name" value="" />
            </div>

            <div class="offset-1 col-md-2">
                Activation Date:
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control " name="name" value="" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-2">
                Closed to Accrual Date:
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control " name="name" value="" />
            </div>

            <div class="offset-1 col-md-2">
                Closure Date:
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control " name="name" value="" />
            </div>

        </div>
        <div class="form-group row">
            <div class="offset-4">
                <input type="button" class="btn btn-info" name="Save" value="Save" />
                <input type="button" class="btn btn-info" name="Add External Partner" value="Add External Partner" />
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        External Partner Details
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table class="offset-3 col-md-6 table table-bordered info-table">
                @*color-bordered-table info-bordered-table*@
                <thead>
                    <tr>
                        <th>External Partner Name</th>
                        <th>External Partner E-mail(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Partner 1</td>
                        <td>a@b.com,a@z.com</td>
                    </tr>
                    <tr>
                        <td>Partner 2</td>
                        <td>a@b.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header ">Add Roles</div>
    <div class="card-body ">

        <div class="form-group row">
            <div class="col-md-2">
                Role Name:
            </div>
            <div class="col-md-2">
                <input type="text" value="" />
            </div>
            <div class="offset-2 col-md-4">
                <div class="custom-control custom-checkbox ">
                    <input type="checkbox" id="Legal" name="Legal" class="custom-control-input">
                    <label class="custom-control-label" for="Legal"> Specific to Protocol</label>
                </div>

            </div>

        </div>

        <div class="form-group row">
            <div class="col-md-2">
                Role Description:
            </div>
            <div class="col-md-4">
                <textarea maxlength="500" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                External Partner
            </div>
            <div class="col-md-2">
                <input type="checkbox"  value="" />
            </div>
        </div>

        <div class="form-group row">
            <table class="offset-2 col-md-8  table table-bordered info-table">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Role Name</th>
                        <th>Role Description</th>
                        <th>Is Specific to Protocol</th>
                        <th>External Partner(s)</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>Role 1</td>
                        <td>Role desc 1</td>
                        <td>Yes</td>
                        <td>User1,User2</td>
                    </tr>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>Role 2</td>
                        <td>Role desc 2</td>
                        <td>No</td>
                        <td>User1,User2</td>
                    </tr>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>Role 3</td>
                        <td>Role desc 3</td>
                        <td>Yes</td>
                        <td>User1</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="form-group row">
            <div class="offset-4">
                <input type="button" class="btn btn-info" name="Save" value="Save" />
                <input type="button" class="btn btn-info" name="Add External Partner" value="Cancel" />
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header ">Add Dealbreaker Categorie(s) </div>
    <div class="card-body ">

        <div class="form-group row">
            <div class="col-md-2">
                Categories:
            </div>
            <div class="col-md-4">
                <textarea maxlength="500" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4">
                <input type="button" class="btn btn-info" name="Save" value="Save" />

            </div>
        </div>
        <div class="form-group row">
            Dealbreaker Categories
        </div>

        <div class="form-group row">
            <table class="offset-2 col-md-6  table table-bordered info-table ">
                @*color-bordered-table info-bordered-table*@
                <thead>
                    <tr>
                        <th width="20px">Edit</th>
                        <th width="20px">Delete</th>
                        <th width="20px">S.No.</th>
                        <th>Categories</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>1</td>
                        <td>Categorie 1</td>
                    </tr>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>2</td>
                        <td>Categorie 2</td>
                    </tr>
                    <tr>
                        <td><span class="text-info"><i class="mdi mdi-lead-pencil"></i></span></td>
                        <td><span class="text-danger"><i class="mdi mdi-delete"></i></span></td>
                        <td>3</td>
                        <td>Categorie 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            <div class="offset-4">
                <input type="button" class="btn btn-info" name="Save" value="Cancel" />

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    })
</script>

