﻿
@{
    ViewBag.Title = "Form Status";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details = "";
    ViewBag.Create_Details_URL = "";
}

<div>
    <div class="card">
        <div class="card-header font-weight-bold"><b>Details</b></div>
        <div class="card-body">
            <div class="tbl">
                <table id="tblStatus" class="table nowrap table-hover table-striped table-bordered col-md-10 info-table" width="1000px">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>CMT</th>
                            <th>Patient ID</th>
                            <th>Protocol</th>
                            <th>Lab ID</th>
                            <th>STN #</th>
                            <th>PAN</th>
                            <th>Block ID</th>
                            <th>Time Point</th>
                            <th>Parent Type</th>
                            <th>Specimen Type</th>
                            <th> Quantity</th>
                            <th>Unit Type</th>
                            <th>Distribution Project</th>
                            <th>specimen Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkSelect" name="chkSelect"/>
                                </div>

                            </td>
                            <td></td>
                            <td>FB-10-201-7893-120</td>
                            <td>FB-10</td>
                            <td>7893</td>
                            <td>STN1</td>
                            <td>PAN1</td>
                            <td>Block1</td>
                            <td>Timepoint 1</td>
                            <td></td>
                            <td>Parafinn Specimen</td>
                            <td>1</td>
                            <td>Block</td>
                            <td>Distribution Project1</td>
                            <td>Received</td>
                        </tr>
                        <tr>
                            <td>

                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkSelect" name="chkSelect" />
                                </div>

                            </td>
                            <td></td>
                            <td>C-13-202-7893-120</td>
                            <td>C-13</td>
                            <td>7893</td>
                            <td>STN12</td>
                            <td>PAN12</td>
                            <td>Block12</td>
                            <td>Time point2</td>
                            <td></td>
                            <td>Parafinn stained Core Biopsy Specimen</td>
                            <td>2</td>
                            <td>Block</td>
                            <td>Distribution Project1</td>
                            <td>Received</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkSelect" name="chkSelect" />
                                </div>
                            </td>
                            <td></td>
                            <td>FB-10-202-7893-120</td>
                            <td>FB-10</td>
                            <td>7893</td>
                            <td>STN21</td>
                            <td>PAN1</td>
                            <td>Block21</td>
                            <td>TimePoint1</td>
                            <td></td>
                            <td>Parafinn stained Core Biopsy Specimen</td>
                            <td>1</td>
                            <td>Block21</td>
                            <td></td>
                            <td>Received</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="offset-1">
                <input type="button" class=" btn btn-info " value=" Bank Selected" />
                <input type="button" class=" btn btn-info" value="  Export Excel" />
                <input type="button" class=" btn btn-info" value="Commentator" />
                <input type="button" class=" btn btn-info" id="btnCreateDistProject" value="Create Dist.Project" />
                <input type="button" class=" btn btn-info" id="btnAssignDistProject"value=" Assign Dist.Project" />
                <input type="button" class=" btn btn-info" value="Release" />
                <input type="button" class=" btn btn-info" value="Add to Shipment" />

                @*<input type="button" class=" btn btn-info" value="Assign To Internal Request" />*@
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title"><b>Create Distribution Project</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body" id="myModalBodyDiv1">



            </div>

        </div>
    </div>
</div>
<div id="myModal1" class="modal fade " role="dialog">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title"><b>Assign Distribution Project</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body" id="myModalBodyDiv2">
                <div class="form-group row offset-1 ">
                    <label>Select Distribution Project</label>
                    <div class="col-md-5">
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="form-group offset-4">
                    <input type="button" value="Add" class="btn btn-info" />
                    <input type="button" value="Cancel" class="btn btn-info" data-dismiss="modal" />
                </div>
            
        </div>

    </div>
</div>
</div>
<style>
    .tbl {
        min-height: 400px;
    }
</style>
<script>
   $(document).ready(function () {

       $('#tblStatus').DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            buttons: [
            ]

       });

       $("#btnCreateDistProject").click(function () {
           
           var url = "/DistributionProjects/OpenManagePopup";
           $("#myModalBodyDiv1").load(url, function () {
               $("#myModal").modal({ backdrop: 'static', keyboard: false, show: true })

               //$("#btnSave").val("Update");
               //$("#SiteID").prop('disabled', true);
               //$("#T1_PatientID").prop('disabled', true);

           });
       });
       
       $("#btnAssignDistProject").click(function () {
           
          
               $("#myModal1").modal({ backdrop: 'static', keyboard: false, show: true })

               //$("#btnSave").val("Update");
               //$("#SiteID").prop('disabled', true);
               //$("#T1_PatientID").prop('disabled', true);

          
       });
    });
</script>


