﻿
@{
    ViewBag.Title = "Processing";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="offset-3"  >
    <img class="w-75 p-10 " alt="Cinque Terre" src="~/assets/images/under-construction.gif" />
</div>