﻿
@{
    ViewBag.Title = "Person Role Association";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="card">

    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2">Protocol</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    <option value="0">--Select--</option>
                    <option value="1">C-13</option>
                    <option value="2">FB-10</option>
                    <option value="3">FB-11</option>
                    <option value="4">FC-7</option>
                </select>
            </div>
            <label class=" offset-1 col-md-2">Collaborator Network</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    <option value="0">--Select--</option>
                    <option value="1">7893-001</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2">Roles</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    <option value="0">--Select--</option>
                    <option value="1">Study PI</option>
                    <option value="2">Study Co-ordinator</option>
                    <option value="3">Investigator</option>
                </select>
            </div>
            <label class="offset-1 col-md-2">Start Date</label>
            <div class="col-md-3">
                <input type="text" value="" class="datepicker form-control col-md-9" />
                <i class="icon-calender"></i>
            </div>
        </div>
    </div>
    </div>
<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-6">
                <label class="font-weight-bold">&nbsp;&nbsp;Site Details</label>
                @* <div class="offset-1">*@
                <table id="tblPrsa" class="table table-bordered info-table ">
                    @*info-bordered-table*@@*color-bordered-table info-bordered-table*@

                    <thead>
                        <tr>
                            <th width="30px">Select</th>
                            <th width="100px">Site ID</th>
                            <th width="200px">Site Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>7893-120</th>
                            <th>Site Name1</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>7893-122</th>
                            <th>Site Name2</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>7893-123</th>
                            <th>Site Name3</th>
                        </tr>
                    </tbody>
                </table>

                @*</div>*@
            </div>
            <div class="col-md-6">
                <label class="font-weight-bold">Personnel Details</label>
                @*<div>*@
                <table id="tblPr" class="table table-bordered info-table">
                    <thead>
                        <tr>
                            <th width="30px">Select</th>
                            <th>Personnel ID</th>
                            <th>Name</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>IN00612</th>
                            <th>Daniel</th>
                            <th>Study PI</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>SS08130</th>
                            <th>Amir</th>
                            <th>Study Co-ordinator</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="custom-control custom-checkbox align-content-center">
                                    <input type="checkbox" id="chkselect" name="Select">

                                </div>
                            </th>
                            <th>IN00001</th>
                            <th>poonam</th>
                            <th>Investigator</th>
                        </tr>
                    </tbody>
                </table>

                @*</div>*@
            </div>
        </div>
        <div class="offset-5">
            <input type="button" value="Associate" class="btn btn-info"/>
            <input type="button" value="Cancel" class="btn btn-info"/>
        </div>
    </div>
</div>
    <script>

    $(document).ready(function () {
        $(".datepicker").datepicker({
            autoclose: true
        });
        //$('#tblPrsa').DataTable({
        //    dom: 'Bfrtip',
        //    "scrollY": "300px",
        //    "scrollX": "250px",
        //    "scrollCollapse": true,
        //    buttons: [

        //    ]

        //});
        //$('#tblPr').DataTable({
        //    dom: 'Bfrtip',
        //    "scrollY": "300px",
        //    "scrollX": "250px",
        //    "scrollCollapse": true,
        //    buttons: [

        //    ]

        //});
    });

    </script>
