﻿@model NSABP_Model_BO_.FormBNK_BO
@{
    ViewBag.Title = "FormBNKEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormBNKEdit</h2>

<div class="panel-body">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-9 ">
            @Html.Partial("~/Views/Form_BNK/PartialViews/P_Form_BNK_Create.cshtml", Model)
        </div>
    </div>
</div>