﻿
@{
    ViewBag.Title = "Industry Roster";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card">
    <div class="card-header bg-white text text-info">
        Network ID:&nbsp;&nbsp;

        <select id="network" class="col-md-2 custom-select">
            <option value="">Select Network</option>
            <option value="CIUSSS de L'est de L'Ile De Montreal">7893-001    </option>
            <option value="St. Luke's Hospital Cancer Institute">1234-001    </option>
            <option value="SMBD-Jewish General Hospital">5236-001  </option>
            <option value="McPeak-Sirois Group">9876-001    </option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Network RC Name:&nbsp;&nbsp;
        <span class="text-dark" ></span>
    </div>
    <div class="card-body">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#Roles" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down ">Primary Roles</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Payments" role="tab"><span class="hidden-sm-up"><i class="ti-wallet"></i></span> <span class="hidden-xs-down">Payments/Contracts</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Treating" role="tab"><span class="hidden-sm-up"><i class="ti-rss-alt"></i></span> <span class="hidden-xs-down">Treating Site</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Personnel" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Personnel Details</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
            <div class="tab-pane active" id="Roles" role="tabpanel">
                <div class="p-20">
                    <div class="form-group row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <div class="col-md-1">
                                    CSI
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="name" value="IN03439" />
                                </div>
                                <div class="col-md-3">

                                    <input type="text" name="name" class="form-control" value="Victor  Vogel" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="name" class="form-control" value="vgvogel@geisinger.edu" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="name" class="form-control" value="570/271-6834" />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" name="name" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    PC
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="name" value="IN03439" />
                                </div>
                                <div class="col-md-3">

                                    <input type="text" name="name" class="form-control" value="Victor  Vogel" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="name" class="form-control" value="vgvogel@geisinger.edu" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="name" class="form-control" value="570/271-6834" />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" name="name" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    FC
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="name" value="IN03439" />
                                </div>
                                <div class="col-md-3">

                                    <input type="text" name="name" class="form-control" value="Victor  Vogel" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="name" class="form-control" value="vgvogel@geisinger.edu" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="name" class="form-control" value="570/271-6834" />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" name="name" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    CC
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="name" value="IN03439" />
                                </div>
                                <div class="col-md-3">

                                    <input type="text" name="name" class="form-control" value="Victor  Vogel" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="name" class="form-control" value="vgvogel@geisinger.edu" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="name" class="form-control" value="570/271-6834" />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" name="name" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    CA
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="name" value="IN03439" />
                                </div>
                                <div class="col-md-3">

                                    <input type="text" name="name" class="form-control" value="Victor  Vogel" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="name" class="form-control" value="vgvogel@geisinger.edu" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="name" class="form-control" value="570/271-6834" />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" name="name" class="form-control" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="offset-1 col-md-2">
                            <div class="form-group row  justify-content-center">
                                <div class="text-info">
                                    Update Primary Role
                                </div>
                                <br /><br />
                                <div class="form-group row ">
                                    <select class="custom-select">
                                        <option value="1">Select Role</option>
                                        <option value="CSI">CSI</option>
                                        <option value="PC">PC</option>
                                        <option value="FC">FC</option>
                                        <option value="CC">CC</option>
                                        <option value="CA">CA</option>
                                    </select>
                                </div>

                                <div class="form-group row ">
                                    <input type="text" class="form-control" name="name" value="" />
                                </div>

                                <div class="form-group row ">
                                    <input type="button" class="btn btn-xs btn-block btn-info" name="name" value="Update" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header font-weight-bold text-info">
                            Primary Role History 
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <table class="table table-bordered  info-table">
                                    <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th>IN/SS#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>E-Mail</th>
                                            <th>Role Status</th>
                                            <th>Role Status Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CA </td>
                                            <td>SS03596 </td>
                                            <td>Heather </td>
                                            <td>Albertson </td>
                                            <td>halbertson@geisinger.edu </td>
                                            <td><span class="label label-success">Active </span></td>
                                            <td>06/05/2017 </td>
                                        </tr>
                                        <tr>
                                            <td>CA </td>
                                            <td>SS03597 </td>
                                            <td>Edwin </td>
                                            <td>Bemmel </td>
                                            <td>epbemmel@geisinger.edu </td>
                                            <td><span class="label label-danger">Inactive </span></td>
                                            <td>06/05/2017 </td>
                                        </tr>
                                        <tr>
                                            <td>CSI </td>
                                            <td>IN03439 </td>
                                            <td>Victor </td>
                                            <td>Vogel </td>
                                            <td>vgvogel@geisinger.edu</td>
                                            <td><span class="label label-success">Active </span></td>
                                            <td>02/17/2016 </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="Payments" role="tabpanel">
                <div class="p-20">
                    <h3>In Progress</h3>
                </div>
            </div>
            <div class="tab-pane" id="Treating" role="tabpanel">
                <div class="p-20">
                    <h3>In Progress</h3>
                </div>
            </div>
            <div class="tab-pane" id="Personnel" role="tabpanel">
                <div class="p-20">
                    <h3>In Progress</h3>
                </div>
            </div>
        </div>

    </div>

</div>

<style>
    .nav-link {
        color: #03a9f3;
    }
</style>
<script>
    $(document).ready(function () {
        $("#network").change(function ()
        {
            $(this).next("span").text($(this).val());
        })
    });
</script>
