﻿@model IEnumerable<NSABP_Model_BO_.User_BO>
@{
    Layout = "~/Views/Shared/_LayoutPage_ADMIN.cshtml";
    ViewBag.Title = "User Details";
    ViewBag.Create_Details_URL = "/User/Createuser";
    ViewBag.Create_Details = "Craete";
}

<div>

    <table id="tbl_UserDetails" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Actions</th>
                <th>

                    @Html.DisplayNameFor(model => model.User_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                @*<th>

                        @Html.DisplayNameFor(model => model.Protocol_Code)
                    </th>*@
                <th>
                   Role
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status_Title)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <button type="button" value="EDIT" class="btn btn-info" onclick="AddEditEmployee(@item.User_ID)"> EDIT</button>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.User_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.FName) &nbsp;@Html.DisplayFor(model => item.LName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.PhoneNo)
                    </td>
                    <td>
                        @foreach (var res in item.List_Protocol_role_site)
                        {
                            <label class=""> Protocol:&nbsp;</label>                             @res.Protocol_Code 
                            <label class="">&nbsp;&nbsp; Role:&nbsp;</label>                            @res.Role_Name
                            <br />
                        }
                        
                    </td>
                    @*<td>
                            @Html.DisplayFor(model => item.Role_Name)
                        </td>*@

                    <td>
                        @Html.DisplayFor(model => item.Status_Title)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">User Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbl_UserDetails').DataTable({
            dom: 'Bfrtip',
            "columnDefs": [
           {
               "targets": [1],
               "visible": false,
               "searchable": false

           }
            ],
            "order": [[1, 'desc']],
            buttons: [
                 'excel', 'print'
            ]
        });

    });

</script>
<script>


    var AddEditEmployee = function (User_ID) {

        var url = "/User/Edit_User?ID=" + User_ID;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");

        })

    }
</script>


<style>
    .buttons-print, .buttons-excel {
        background-color: #03a9f3 !important;
        border-color: #03a9f3;
    }
</style>