﻿@model NSABP_Model_BO_.FormFT_Timepoint


<div>
    <h5> Prior to study entry </h5>
    <hr />
    <div class="form-group row">
        <div class="checkbox checkbox-success col-md-3">
            @Html.CheckBoxFor(model => model.LiverTumorIssue, htmlAttributes: new { @class = "LiverTumorIssue " })
            @Html.LabelFor(model => model.LiverTumorIssue, htmlAttributes: new { @class = "control-label required" })

        </div>(or)
        <div class="checkbox checkbox-success col-md-3">
            @Html.CheckBoxFor(model => model.OtherTIssue, htmlAttributes: new { @class = "OtherTIssue" })

            @Html.LabelFor(model => model.OtherTIssue, htmlAttributes: new { @class = "control-label required" })
        </div>
        @Html.DropDownListFor(model => model.SiteOfOtherTumorTIssue, ViewBag.SiteOfOtherTumorTissues as SelectList, "--select--", new { @class = "form-control col-md-3 SiteOfOtherTumorTIssue" })
    </div>


    <div class="form-group row">
        @Html.LabelFor(model => model.DateBiospecimenCollected, htmlAttributes: new { @class = "control-label required  " })
        <div class="col-md-6">
            @Html.EditorFor(model => model.DateBiospecimenCollected, new { htmlAttributes = new { @class = "form-control col-md-10 mydatepicker DateBiospecimenCollected" } })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            @{if (Model != null)
                {
                    @Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, true, new { @class = "SubMergedIn10PercentFormalinVial", id = Model.Timepoint_Id, @Name = Model.Timepoint_Id })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, false, new { @class = "SubMergedIn10PercentFormalinVial", id = Model.Timepoint_Id, @Name = Model.Timepoint_Id })
                    @Html.Label("No")
                }
                else
                {
                    @Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, true, new { @class = "SubMergedIn10PercentFormalinVial" })
                    @Html.Label("Yes")
                    @Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, false, new { @class = "SubMergedIn10PercentFormalinVial" })
                    @Html.Label("No")
                }
            }
            @*@Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, true, new { @class = "SubMergedIn10PercentFormalinVial", id = Model.Timepoint_Id, @Name = Model.Timepoint_Id })
                @Html.Label("Yes")
                @Html.RadioButtonFor(model => model.SubMergedIn10PercentFormalinVial, false, new { @class = "SubMergedIn10PercentFormalinVial", id = Model.Timepoint_Id, @Name = Model.Timepoint_Id })
                @Html.Label("No")*@
            @*@{ if (Model != null)
                {
                    <input type="radio" name="SubMergedIn10PercentFormalinVial_@Model.SubMergedIn10PercentFormalinVial" class="clsSubMergedIn10PercentFormalinVial" alt="Yes" /><label for="SubMergedIn10PercentFormalinVial">YES</label>
                        <input type="radio" name="SubMergedIn10PercentFormalinVial_@Model.SubMergedIn10PercentFormalinVial" class="clsSubMergedIn10PercentFormalinVial" alt="No" /><label for="SubMergedIn10PercentFormalinVial">No</label>
                        }
                        else
                        {
                        <input type="radio" name="SubMergedIn10PercentFormalinVial" class="clsSubMergedIn10PercentFormalinVial" alt="Yes" /><label for="SubMergedIn10PercentFormalinVial">YES</label>
                        <input type="radio" name="SubMergedIn10PercentFormalinVial" class="clsSubMergedIn10PercentFormalinVial" alt="No" /><label for="SubMergedIn10PercentFormalinVial">No</label>
                        }
                        }*@

        </div>
        <div class="col-md-10">
            @Html.LabelFor(model => model.SubMergedIn10PercentFormalinVial, "Core Biopsy specimen submerged in 10% Formaline Vial Collected?", htmlAttributes: new { @class = "control-label col-md-10 required" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <input type="button" value="Save" class="btn btn-info btnsave" name="save" />@*id="btnsave"*@
            <input type="button" value="cancel" class="btn btn-info" name="btnCancel" onclick="window.location.reload()" data-dismiss="modal" />@*id="btn_Cancel"*@
        </div>
    </div>
</div>

@*<div><h1>Hello</h1></div>*@


<script>
    //code for update FormFT popup
    $(document).ready(function () {
        $(".mydatepicker").datepicker({
            autoclose: true,
            //format: 'dd/mm/yyyy'
            endDate:'today'
        });
        $('#btnUpdate').click(function () {
            if ($('.LiverTumorIssue').not(':checked').length) {
                // do stuff for not selected
                if ($('.OtherTIssue').not(':checked').length) {
                    alert("please select  LiverTumorIssue or OtherIssue ");
                    $('.LiverTumorIssue').focus();
                    return false;
                }
            }

            if ($('.OtherTIssue').is(':checked')) {
                if ($('.SiteOfOtherTumorTIssue option:selected').text() == "--select--") {
                    alert("please select InstituteOfOtherTumorTIssue");
                    $('.SiteOfOtherTumorTIssue').focus();
                    return false;
                }
            }
            if ($('.DateBiospecimenCollected').val() == "") {
                alert("please select Date tumor biopsy specimens collected");
                $('.DateBiospecimenCollected').focus();
                return false;

            }
            if ($('input[name=SubMergedIn10PercentFormalinVial]:checked').val() == undefined) {

                alert("please select  Core Biopsy specimen");
                $('#SubMergedIn10PercentFormalinVial').focus();
                return false;

            }
            var data = {
                SiteID: $('#SiteID option:selected').text(),
                Site_Name: $('#Site_Name').val(),
                T9_PatientID: $('#T9_PatientID').val(),
                Form_FT_ID: $('#T9_PatientID').val() + "-FT",
                FormFT_PersonCompletingForm_FName: $('#FormFT_PersonCompletingForm_FName').val(),
                FormFT_PersonCompletingForm_LName: $('#FormFT_PersonCompletingForm_LName').val(),
                FormFT_PersonCompletingForm_Phone: $('#FormFT_PersonCompletingForm_Phone').val(),
                FormFT_PersonCompletingForm_Email: $('#FormFT_PersonCompletingForm_Email').val(),
                LiverTumorIssue: $('.LiverTumorIssue').is(':checked'),

                OtherTIssue: $('.OtherTIssue').is(':checked'),
                SiteOfOtherTumorTIssue: $('.SiteOfOtherTumorTIssue').val(),
                DateBiospecimenCollected: $('.DateBiospecimenCollected').val(),
                SubMergedIn10PercentFormalinVial: $('#SubMergedIn10PercentFormalinVial').val()

            }
            $.post("/Form_FT/UpdateFormFTDetails", data, function (data) {
                if (data.status = "Success") {
                    alert("Form FT details updated successfully");
                    $("#shippingdiv *").prop('disabled', false);
                    $("#FormFT *").prop('disabled', true);
                }
                else if (data.status = "invalid") {
                    alert("Invalid operation");
                }

            });

        });
        //$('.saves').click(function () {
        //$(document).on('click','.saves',function(){
        //function savess(id)
        //{
        $('.btnsave').click(function () {
            
            if ($('#SiteID option:selected').text() == "--select--") {
                alert('Please select Institute');
                $('#SiteID').focus();
                return;
            }
            if ($('#T9_PatientID option:selected').text() == "--select--") {
                alert('Please select Patient');
                $('#T9_PatientID').focus();
                return;
            }
            if ($(this).parents('.Timepoint').find('.LiverTumorIssue').not(':checked').length) {
                // do stuff for not selected
                if ($(this).parents('.Timepoint').find('.OtherTIssue').not(':checked').length) {
                    alert("please select  LiverTumorIssue or OtherIssue ");
                    $(this).parents('.Timepoint').find('.LiverTumorIssue').focus();
                    return false;
                }
            }

            if ($(this).parents('.Timepoint').find('.OtherTIssue').is(':checked')) {
                if ($(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue option:selected').text() == "--select--") {
                    alert("please select Institute Of OtherTumor Issue");
                    $(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue').focus();
                    return false;
                }
            }
            if ($(this).parents('.Timepoint').find('.DateBiospecimenCollected').val() == "") {
                alert("please select Date tumor biopsy specimens collected");
                $(this).parents('.Timepoint').find('.DateBiospecimenCollected').focus();
                return false;

            }
            //if ($(this).parents('.Timepoint').find('input[name=SubMergedIn10PercentFormalinVial]:checked').val() == undefined) {

            //    alert("please select  Core Biopsy specimen");
            //    $('#SubMergedIn10PercentFormalinVial').focus();
            //    return false;

            //}
            if ( $(this).parents('.Timepoint').find('input[class=SubMergedIn10PercentFormalinVial]:checked').val() == undefined) {

                alert("please select  Core Biopsy specimen");
                $(this).parents('.Timepoint').find('#SubMergedIn10PercentFormalinVial').focus();
                return false;

            }
           
            var arr = new Array();
            
            var tpid = $("#HiddenFieldId").val();//.parent("div.card").find(".chktimepoint :checkbox:checked").val()
           
            
            arr.push({
                
                Timepoint_Id: tpid, LiverTumorIssue: $(this).parents('.Timepoint').find('.LiverTumorIssue').is(':checked'), OtherTIssue:  $(this).parents('.Timepoint').find('.OtherTIssue').is(':checked'),
                SiteOfOtherTumorTIssue:  $(this).parents('.Timepoint').find('.SiteOfOtherTumorTIssue').val(),
                DateBiospecimenCollected:  $(this).parents('.Timepoint').find('.DateBiospecimenCollected').val(),
                SubMergedIn10PercentFormalinVial: $(this).parents('.Timepoint').find('input[class=SubMergedIn10PercentFormalinVial]:checked').val(), Form_FT_ID: $('#T9_PatientID').val() + "-FT"
            })
            $(this).parents('.Timepoint').find('*').attr('disabled', 'disabled');
            $(this).parents('.Timepoint').next().find('.chktimepoint').removeAttr('disabled');
            var data = {
                SiteID: $('#SiteID option:selected').text(),
                Site_Name: $('#Site_Name').val(),
                T9_PatientID: $('#T9_PatientID').val(),
                FormFT_PersonCompletingForm_FName: $('#FormFT_PersonCompletingForm_FName').val(),
                FormFT_PersonCompletingForm_LName: $('#FormFT_PersonCompletingForm_LName').val(),
                FormFT_PersonCompletingForm_Phone: $('#FormFT_PersonCompletingForm_Phone').val(),
                FormFT_PersonCompletingForm_Email: $('#FormFT_PersonCompletingForm_Email').val(),
                //LiverTumorIssue: $('.LiverTumorIssue').is(':checked'),
                //OtherTIssue: $('.OtherTIssue').is(':checked'),
                //SiteOfOtherTumorTIssue: $('.SiteOfOtherTumorTIssue').val(),
                //DateBiospecimenCollected: $('.DateBiospecimenCollected').val(),
                //SubMergedIn10PercentFormalinVial: $('input[name=SubMergedIn10PercentFormalinVial]:checked').val()
                lstFt_timepoint: arr

            }
            $.post("/Form_FT/Add_FormFT", data, function (data) {
                //alert(data.status);
                if (data.status = "Success") {
                    alert("Form FT details saved successfully");
                    $("#shippingdiv *").prop('disabled', false);
                    //$("#FormFT *").prop('disabled', true);



                }
                else if (data.status = "invalid") {
                    alert("Invalid operation");
                }

            });
      //  }
   });

      
        $('#btnReceive').click(function () {
            
            var id = $("#ID").val()
            AddEditEmployee(id);
        })
        var AddEditEmployee = function (id) {

            var url = "/Form_FT/GetReceivedConditions?ID=" + id;
            $("#myModalBodyDiv2").load(url, function () {
                $("#myModalreceive").modal("show");

            })
        }

    });



</script>
@*<script>
    function Show_hidetpdetails(id) {
        
        if ($(id).prop('checked')) {
            //loading partial view
            var txtid = $(id).prop('id');
            var val = $(id).prop('value');*@

@*// 'TempData["TimepointId"]' = val;*@
@*@ViewBag.TimepointId=val;*@
@*$("#HiddenFieldId").val(val);
                $(id).parent().next('div').load("/Form_FT/GetPartial");

            }
            else {
                $(id).parent().next('div').empty();
                $(id).find('.chktimepoint').prop('disabled', true);
            }
        }
    </script>*@