﻿@model NSABP_Model_BO_.FormFT_BO

<form id="form">
    <div class="form-horizontal" id="Supremediv">

        @Html.HiddenFor(model => model.ID)
        <div id="FormFT">
            <div class="form-group row">
                @Html.LabelFor(model => model.SiteID, htmlAttributes: new { @class = "control-label col-md-3 required color" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.listSites, "SiteID", "SiteID"), "--select--", new { @class = "form-control col-md-10" })
                    @Html.ValidationMessageFor(model => model.SiteID, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Site_Name, htmlAttributes: new { @class = "control-label col-md-3 color" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Site_Name, new { htmlAttributes = new { @class = "form-control col-md-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.T9_PatientID, htmlAttributes: new { @class = "control-label required col-md-3 color" })
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.T9_PatientID, ViewBag.Patients as SelectList, "--select--", new { @class = "form-control col-md-12" })

                </div>
            </div>

            <div class="form-group row">
                <h5>Person completing form</h5>
            </div>
            <hr />
            <div class="form-group row">
                @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FormFT_PersonCompletingForm_FName, new { htmlAttributes = new { @class = "form-control  col-md-12", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FormFT_PersonCompletingForm_FName, "", new { @class = "text-danger" })
                </div>
                @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FormFT_PersonCompletingForm_LName, new { htmlAttributes = new { @class = "form-control col-md-12", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FormFT_PersonCompletingForm_LName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FormFT_PersonCompletingForm_Phone, new { htmlAttributes = new { @class = "form-control col-md-12", @readonly = "readonly" } })
                </div>

                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FormFT_PersonCompletingForm_Email, new { htmlAttributes = new { @class = "form-control col-md-12", @readonly = "readonly" } })
                </div>
            </div>
            <div class="form-group row">
                <h4>Time Point Of Fresh Biopsy Sample</h4>
            </div>
            <div class="divtimepointmaster">
                @Html.Partial("p_ft_timepointlistview", Model);
            </div>
            @Html.Hidden("HiddenFieldId")
        </div>

        <div id="shippingdiv">

            <h5>Shipment Information</h5><hr />

            <div class="form-group row card" id="divShipControls">
                <div class="card-body">
                    <div class="form-group row ">
                        @Html.LabelFor(model => model.shippingCompanyName, htmlAttributes: new { @class = "control-label col-md-3 required", disabled = "true" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.shippingCompanyId, new SelectList(Model.listShipping, "ID", "Company_name"), "--select--", new { @class = "form-control col-md-10" })

                        </div>
                        @Html.LabelFor(model => model.trackingNumber, htmlAttributes: new { @class = "control-label col-md-3 required", disabled = "true" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.trackingNumber, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                        </div>
                    </div>

                    <div class="form-group row ">
                        @Html.LabelFor(model => model.dateShippedToDivisionOfPathology, htmlAttributes: new { @class = "control-label col-md-3 required ", disabled = "true" })
                        <div class="col-md-3 ">
                            @Html.EditorFor(model => model.dateShippedToDivisionOfPathology, new { htmlAttributes = new { @class = "form-control col-md-10 mydatepicker" } })
                        </div>
                    </div>

                    <div class="form-group row ">
                        <h6>Print form and ship tumor sample kit overnight delivery to:</h6>
                    </div>
                    <div class="form-group row color">
                        NSABP Foundation, Inc.<br />
                        Division of Pathology<br />
                        1307 Federal Street – Suite 303<br />
                        Pittsburgh PA, 15212<br />
                    </div>
                </div>
            </div>

            <div class="form-group row" id="divShipbuttons">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <input type="button" value="Ship Now" class="btn btn-info" id="btnship" />&nbsp; &nbsp;
                    <input type="button" value="Cancel" class="btn btn-info" id="btnCancel" data-dismiss="modal" />&nbsp; &nbsp;
                    <input type="button" value="Print" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>

</form>
<script>
    //$(function () {
    //  //  $("#shippingdiv *").prop('disabled', true);
    //    $("#SiteID").change(function () {
    //        
    //        $("#Site_Name").val($(this).val());
    //    });

    //});
    $(document).ready(function () {

        $("#SiteID").change(function () {
            
            $("#Site_Name").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getSiteName")',
                datatype: 'JSON',
                data: { id: $("#SiteID").val() },
                success: function (data) {
                    $('#T9_PatientID').find('option').remove();
                    $("#Site_Name").val(data.sitename);
                    var optionhtml1 = '<option value="' +
             0 + '">' + "--select--" + '</option>';
                    $("#T9_PatientID").append(optionhtml1);

                    $.each(data.Patients, function (i) {

                        var optionhtml = '<option value="' +
                    data.Patients[i].Value + '">' + data.Patients[i].Text + '</option>';
                        $("#T9_PatientID").append(optionhtml);
                    });

                },
                error: function (ex) {
                    alert("Failed to load sites" + ex);
                }
            });
        });
    });
</script>
<script>
  
</script>
<script>
    //code for update FormFT popup
    $(document).ready(function () {
        $(".mydatepicker").datepicker({
            autoclose: true,
            //format: 'dd/mm/yyyy'
            endDate:'today'
        });
        //$('#btnUpdate').click(function () {
        //    if ($('#LiverTumorIssue').not(':checked').length) {
        //        // do stuff for not selected
        //        if ($('#OtherTIssue').not(':checked').length) {
        //            alert("please select  LiverTumorIssue or OtherIssue ");
        //            $('#LiverTumorIssue').focus();
        //            return false;
        //        }
        //    }

        //    if ($('#OtherTIssue').is(':checked')) {
        //        if ($('#SiteOfOtherTumorTIssue option:selected').text() == "--select--") {
        //            alert("please select InstituteOfOtherTumorTIssue");
        //            $('#SiteOfOtherTumorTIssue').focus();
        //            return false;
        //        }
        //    }
        //    if ($('#DateBiospecimenCollected').val() == "") {
        //        alert("please select Date tumor biopsy specimens collected");
        //        $('#DateBiospecimenCollected').focus();
        //        return false;

        //    }
        //    if ($('input[name=SubMergedIn10PercentFormalinVial]:checked').val() == undefined) {

        //        alert("please select  Core Biopsy specimen");
        //        $('#SubMergedIn10PercentFormalinVial').focus();
        //        return false;

        //    }
        //    //var arr = new Array();
        //    //arr.push({
        //    //    Timepoint_Id: $('chktimepoint').val(), LiverTumorIssue: $('#LiverTumorIssue').is(':checked'), OtherTIssue: $('#OtherTIssue').is(':checked'),
        //    //    SiteOfOtherTumorTIssue: $('#SiteOfOtherTumorTIssue').val(),
        //    //    DateBiospecimenCollected: $('#DateBiospecimenCollected').val(),
        //    //    SubMergedIn10PercentFormalinVial: $('#SubMergedIn10PercentFormalinVial').val()
        //    //})
        //    var data = {
        //        SiteID: $('#SiteID option:selected').text(),
        //        Site_Name: $('#Site_Name').val(),
        //        T9_PatientID: $('#T9_PatientID').val(),
        //        Form_FT_ID: $('#T9_PatientID').val() + "-FT",
        //        FormFT_PersonCompletingForm_FName: $('#FormFT_PersonCompletingForm_FName').val(),
        //        FormFT_PersonCompletingForm_LName: $('#FormFT_PersonCompletingForm_LName').val(),
        //        FormFT_PersonCompletingForm_Phone: $('#FormFT_PersonCompletingForm_Phone').val(),
        //        FormFT_PersonCompletingForm_Email: $('#FormFT_PersonCompletingForm_Email').val(),
        //        LiverTumorIssue: $('#LiverTumorIssue').is(':checked'),

        //        OtherTIssue: $('#OtherTIssue').is(':checked'),
        //        SiteOfOtherTumorTIssue: $('#SiteOfOtherTumorTIssue').val(),
        //        DateBiospecimenCollected: $('#DateBiospecimenCollected').val(),
        //        SubMergedIn10PercentFormalinVial: $('#SubMergedIn10PercentFormalinVial').val()
        //       // lstFt_timepoint:arr

        //    }
        //    $.post("/Form_FT/UpdateFormFTDetails", data, function (data) {
        //        if (data.status = "Success") {
        //            alert("Form FT details updated successfully");
        //            $("#shippingdiv *").prop('disabled', false);
        //            $("#FormFT *").prop('disabled', true);
        //        }
        //        else if (data.status = "invalid") {
        //            alert("Invalid operation");
        //        }

        //    });

        //});
        //$('#btnsave').click(function () {

        //    if ($('#SiteID option:selected').text() == "--select--") {
        //        alert('Please select Institute');
        //        $('#SiteID').focus();
        //        return;
        //    }
        //    if ($('#T9_PatientID option:selected').text() == "--select--") {
        //        alert('Please select Patient');
        //        $('#T9_PatientID').focus();
        //        return;
        //    }
        //    if ($('#LiverTumorIssue').not(':checked').length) {
        //        // do stuff for not selected
        //        if ($('#OtherTIssue').not(':checked').length) {
        //            alert("please select  LiverTumorIssue or OtherIssue ");
        //            $('#LiverTumorIssue').focus();
        //            return false;
        //        }
        //    }

        //    if ($('#OtherTIssue').is(':checked'))
        //    {
        //        if($('#SiteOfOtherTumorTIssue option:selected').text() == "--select--")
        //        {
        //            alert("please select Institute Of OtherTumor Issue");
        //            $('#SiteOfOtherTumorTIssue').focus();
        //            return false;
        //        }
        //    }
        //    if ($('#DateBiospecimenCollected').val() == "")
        //    {
        //        alert("please select Date tumor biopsy specimens collected");
        //        $('#DateBiospecimenCollected').focus();
        //        return false;

        //    }
        //    if ($('input[name=SubMergedIn10PercentFormalinVial]:checked').val()==undefined) {

        //            alert("please select  Core Biopsy specimen");
        //            $('#SubMergedIn10PercentFormalinVial').focus();
        //            return false;

        //    }

        //    var data = {
        //        SiteID: $('#SiteID option:selected').text(),
        //        Site_Name: $('#Site_Name').val(),
        //        T9_PatientID: $('#T9_PatientID').val(),
        //        FormFT_PersonCompletingForm_FName: $('#FormFT_PersonCompletingForm_FName').val(),
        //        FormFT_PersonCompletingForm_LName: $('#FormFT_PersonCompletingForm_LName').val(),
        //        FormFT_PersonCompletingForm_Phone: $('#FormFT_PersonCompletingForm_Phone').val(),
        //        FormFT_PersonCompletingForm_Email: $('#FormFT_PersonCompletingForm_Email').val(),
        //        LiverTumorIssue: $('#LiverTumorIssue').is(':checked'),
        //        OtherTIssue: $('#OtherTIssue').is(':checked'),
        //        SiteOfOtherTumorTIssue: $('#SiteOfOtherTumorTIssue').val(),
        //        DateBiospecimenCollected: $('#DateBiospecimenCollected').val(),


        //        SubMergedIn10PercentFormalinVial: $('input[name=SubMergedIn10PercentFormalinVial]:checked').val()

        //    }
        //    $.post("/Form_FT/Add_FormFT", {bo:data,id:2}, function (data) {
        //        //alert(data.status);
        //        if (data.status ="Success")
        //        {
        //            alert("Form FT details saved successfully");
        //            $("#shippingdiv *").prop('disabled', false);
        //            $("#FormFT *").prop('disabled', true);
        //        }
        //        else if(data.status="invalid")
        //        {
        //            alert("Invalid operation");
        //        }

        //    });

        //});

        //$('#btnship').click(function () {
        //    if ($('#shippingCompanyId option:selected').text() == "--select--") {
        //        alert('Please select Shipping Company');
        //        return;
        //    }
        //    if ($('#trackingNumber').val() == "") {
        //        alert('Please Enter tracking no');
        //        return;
        //    }
        //    if ($('#dateShippedToDivisionOfPathology').val() == "") {
        //        alert('Please Select date of shipping');
        //        return;
        //    }
        //    var data = {
        //        SiteID: $('#SiteID option:selected').text(),
        //        Site_Name: $('#Site_Name').val(),
        //        T9_PatientID: $('#T9_PatientID option:selected').text(),
        //        shippingCompanyId: $('#shippingCompanyId').val(),
        //        trackingNumber: $('#trackingNumber').val(),
        //        dateShippedToDivisionOfPathology: $('#dateShippedToDivisionOfPathology').val()
        //    }
        //    $.post("/Form_FT/Shipping", data, function (data) {
        //       // alert(data.status);
        //        if (data.status = "Success") {
        //            alert("Form FT details shipped successfully");
        //            //window.location.reload();
        //        }

        //        else if (data.status = "invalid") {
        //            alert("Invalid operation");
        //        }


        //    });
        //});
        $('#btnship').click(function () {
            
            if ($('#shippingCompanyId option:selected').text() == "--select--") {
                alert('Please select Shipping Company');
                return;
            }
            if ($('#trackingNumber').val() == "") {
                alert('Please Enter tracking no');
                return;
            }
            if ($('#dateShippedToDivisionOfPathology').val() == "") {
                alert('Please Select date of shipping');
                return;
            }
            var flag = false;//code for all timepoints are seleted or not
            var arrtimepointpIds = new Array();
            $('.Timepoint').each(function () {
                if ($(this).find('.chktimepoint').is(':checked') == false) {
                    flag = true;
                }
                else {
                    arrtimepointpIds.push({ Timepoint_Id: $(this).find('.chktimepoint').val() });

                }

            });
            if (flag) {
                alert('Please submit all timepoints to shipped');
                return false;
            }
            var data = {
                SiteID: $('#SiteID option:selected').text(),
                Site_Name: $('#Site_Name').val(),
                T9_PatientID: $('#T9_PatientID option:selected').text(),
                shippingCompanyId: $('#shippingCompanyId').val(),
                trackingNumber: $('#trackingNumber').val(),
                dateShippedToDivisionOfPathology: $('#dateShippedToDivisionOfPathology').val(),
                lstFt_timepoint: arrtimepointpIds
            }
            $.post("/Form_FT/Shipping", data, function (data) {
                // alert(data.status);
                if (data.status = "Success") {
                    alert("Form FT details shipped successfully");
                    window.location.reload();
                }

                else if (data.status = "invalid") {
                    alert("Invalid operation");
                }


            });
        });
        $('#btnReceive').click(function () {
            
            var id = $("#ID").val()
            AddEditEmployee(id);
        })
        var AddEditEmployee = function (id) {

            var url = "/Form_FT/GetReceivedConditions?ID=" + id;
            $("#myModalBodyDiv2").load(url, function () {
                $("#myModalreceive").modal("show");

            })
        }

    });



</script>
@*<script>
    $(function () {
        $("#OtherTIssue").change(function () {
            if (this.checked) {
                // disable the dropdown:
                $('#LiverTumorIssue').prop('checked', false);
                $('#SiteOfOtherTumorTIssue').prop('disabled', false);
            }
        });
    });

    $("#LiverTumorIssue").change(function () {
        if (this.checked) {
            $('#OtherTIssue').prop('checked', false);
            $('#SiteOfOtherTumorTIssue').prop('disabled', true);
            $('#SiteOfOtherTumorTIssue').prop('selectedIndex', 0);
        }
    });
</script>*@

<script>
   
    $('#T9_PatientID').change(function () {
        
        SiteID = $('#SiteID option:selected').text();
        T9_PatientID = $('#T9_PatientID option:selected').text();
        $.post('/GetTimepointsDetails/Form_FT', { SiteID: SiteID, PatientID: T9_PatientID }, function (data) {

        });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTimepointsDetails")',
            datatype: 'html',
            data: { SiteID: SiteID, PatientID: T9_PatientID },
            success: function (data) {
                //  $('.divtimepointmaster').html();
                if (data.a != 'b') {
                    $('.divtimepointmaster').html(data);
                   //div of timepoints
                }
             
            }
        }).done(function () {
            var flag = false;
            $('.Timepoint').each(function () {
                
                var chk = $(this).find('.chktimepoint');
                if (chk.prop('checked')) {
                    $(this).find('*').attr('disabled', 'disabled');
                }
                else
                {
                    flag = true;
                }

            })
            if(!flag)
            {
                $("#shippingdiv *").prop('disabled', false);
            }
            else
            {
                $("#shippingdiv *").prop('disabled', true);

            }
        });
       
      
    });
</script>
  