﻿
@{
    ViewBag.Title = "Form Distrubution";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details = "";
    ViewBag.Create_Details_URL = "";
}

<div class="card">
    <div class="card-header font-weight-bold"><b>Search </b></div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2">Distrubution Project</label>
            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            <label class="col-md-2">Investigator/Reviewer</label>

            <div class="col-md-3">
                <select class="form-control col-md-10">
                    @*<option value="0">--Select--</option>*@

                </select>
            </div>
            @*<div class="col-md-2 row">  <input type="checkbox" value="0" />Show RetireProject</div>*@
            <div class="form-group row">
                <div class="custom-control custom-checkbox align-content-center">
                    <input type="checkbox" id="chkretireProject" name="ShowretireProject" class="custom-control-input bg-secondary">
                    <label class="custom-control-label" for="chkretireProject"> Show RetireProject </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2"> Date Created</label>

            <div class="col-md-3">
                <input type="text" class="form-control datepicker col-md-10" />
            </div>
            <label class="col-md-2"> Created By</label>

            <div class="col-md-3">
                <select class="form-control col-md-10"></select>
            </div>

        </div>
        <div class="form-group row zmdi-format-align-center">
            <div class="col-md-5"></div>
            <input type="button" value="Search" class="btn btn-info" />&nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-info" />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header font-weight-bold" ><b>Results </b></div>
    <div class="card-body form-group row">
        <div class="col-md-1"></div>
        <table id="tbl_Distrubution" class="table nowrap table-hover table-striped table-bordered col-md-10 info-table" width="1000px">
            <thead>
                <tr>
                    <th>Select</th>
                    <th width="100px">Project Name</th>
                    <th>Investigator/Reviewer Name</th>
                    <th>Created By</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td>

                        <div class="custom-control custom-checkbox align-content-center">
                            <input type="checkbox" id="chkSelect" name="chkSelect" />
                        </div>

                    </td>
                    <td>Distribution Project1</td>
                    <td>Investigator</td>
                    <td></td>
                    <td></td>
                </tr>*@
            </tbody>
        </table>
    </div>
    <div class="form-group row ">
        <div class="col-md-3"></div>
        <div class="row col-md-8">
            <input type="button" value="ManageDetails" class="btn btn-info" id="btnManageDetails" />&nbsp;&nbsp;
            <input type="button" value="ManageSpecimens" class="btn btn-info" id="btnManageSpecimens" />&nbsp;&nbsp;
            <input type="button" value="RetireProject" class="btn btn-info" />&nbsp;&nbsp;
            <input type="button" value="UnRetireProject" class="btn btn-info" />
        </div>
    </div>
</div>

<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title"><b>Edit Distribution Project</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body" id="myModalBodyDiv1">



            </div>

        </div>
    </div>
</div>

@*modal code for manage specimens*@
<div id="myModalSpecimens" class="modal fade" role="dialog">

    <div class="modal-dialog manage modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">
                <h4 class="modal-title"><b>Project Name :</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body" id="myModalBodyDiv">



            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $(".datepicker").datepicker({
            autoclose: true
        });
        $('#tbl_Distrubution').DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            buttons: [

            ]

        });

    });
    $("#btnManageDetails").click(function () {
        
        var url = "/DistributionProjects/OpenManagePopup";
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal({backdrop: 'static', keyboard: false,show:true})

            //$("#btnSave").val("Update");
            //$("#SiteID").prop('disabled', true);
            //$("#T1_PatientID").prop('disabled', true);

        });
    });
    $("#btnManageSpecimens").click(function () {
        
        var url = "/DistributionProjects/OPenManageSpecimens";
        $("#myModalBodyDiv").load(url, function () {
            $("#myModalSpecimens").modal({ backdrop: 'static', keyboard: false, show: true })

            //$("#btnSave").val("Update");
            //$("#SiteID").prop('disabled', true);
            //$("#T1_PatientID").prop('disabled', true);

        });
    });
</script>
<style>
    .q2 {
        position: relative;
        margin-top: 20px;
    }
    .modal-dialog.manage {
        width: auto;
       max-width:1000px;
    }

    
</style>

