﻿<div>
    <table id="tbl_ManageSpecimens" class="table nowrap table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Patient Id
                </th>
                <th>
                    Protocol
                </th>
                <th>
                    Lab ID
                </th>
                <th>
                    STN #
                </th>
                <th>
                    PAN
                </th>
                <th>
                    Block ID
                </th>
                <th>
                    Time Point
                <th>
                    Parent Type
                </th>
                <th>
                    Specimen Type
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Distribution Project Name
                </th>


            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="row">
        <div class="col-md-2"></div>
        <div>
            <input type="button" class="btn btn-info" value="Detach Specimen" />&nbsp;
            <input type="button" class="btn btn-info" value="Export Excel" />&nbsp;
            <input type="button" class="btn btn-info" value="Assign To Internal Request" />&nbsp;
            <input type="button" class="btn btn-info" value="Close" data-dismiss="modal" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#tbl_ManageSpecimens').DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            buttons: [

            ]

        });

    });
</script>