﻿

<div>
    <div class="form-group row">
        <div class="col-md-1"></div>
            <label class="col-md-3"> Distribution Project Name</label>
            <div class="col-md-4">
                <input type="text" value="" class="form-control text col-md-10" />
            </div>
        </div>
    <div class="form-group row">

        <div class="col-md-1"></div>
        <label class="col-md-3"> Investigator / Reviewer</label>
        <div class="col-md-4">
            <select class="form-control col-md-10"></select>
        </div>
    </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <input type="button" class="btn btn-info" value="Update" />&nbsp;&nbsp;
            <input type="button" class="btn btn-info" value="Cancel" data-dismiss="modal"/>
        </div>
    </div>
