﻿@model NSABP_Model_BO_.FormBLK_BO

@{
    ViewBag.Title = "Form BLK Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details = "Details";
    ViewBag.Create_Details_URL = "/Form_BLK/FormBLK_Details";
}
<div class="card">
    <div class="card-body">
        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-9 ">
                @Html.Partial("~/Views/Form_BLK/PartialViews/P_FormBLKCreate.cshtml", Model)
            </div>
        </div>
    </div>
</div>


