﻿@model IEnumerable<NSABP_Model_BO_.FormBLK_BO>

@{
    ViewBag.Title = "Form BLK DMG Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   

}


<div>
    <table id="tbl_FormBlkDetails" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SiteID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Site_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.T1_PatientID)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FormBLK_PersonCompletingForm_LName)*@
                    Person Completing Form Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FormBLK_PersonCompletingForm_Phone)*@
                    Person Completing Form Phone
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.FormBLK_PersonCompletingForm_Email)*@
                    Person Completing Form Email
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.isFromDiagnosticBreastBiopsy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FPPE_FromTheDiagnostiBreastBiopsySpecimen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnstainedSlidesFromDiagnosticBreastBiopsy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numberOfSlides)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.numberOfBlocks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormBLK_Patology_Accession_Number)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Company_name)*@
                    Shipping Company Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.trackingNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateShippedToDivisionOfPathology)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Created_By_Name)*@
                    Created By
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Created_On)*@
                    Created On
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.DMG_Receieved_By_Name)*@
                    DMG Received By
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.DMG_Receieved_Date)*@
                    DMG Received On
                </th>



                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Form_BlockID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NSABP_Patology_Accession_Number)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DMG_Receieved_By)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shippingCompanyID)
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @*@Html.DisplayFor(modal => item.SiteID)*@
                        @item.SiteID
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.Site_Name)*@
                        @item.Site_Name
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.T1_PatientID)*@
                        @item.T1_PatientID
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.FormBLK_PersonCompletingForm_LName)*@
                        @item.FormBLK_PersonCompletingForm_LName
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.FormBLK_PersonCompletingForm_Phone)*@
                        @item.FormBLK_PersonCompletingForm_Phone
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.FormBLK_PersonCompletingForm_Email)*@
                        @item.FormBLK_PersonCompletingForm_Email
                    </td>

                    <td>
                        @*@Html.DisplayFor(model => item.isFromDiagnosticBreastBiopsy)*@
                        @item.isFromDiagnosticBreastBiopsy
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.FPPE_FromTheDiagnostiBreastBiopsySpecimen)*@
                        @item.FPPE_FromTheDiagnostiBreastBiopsySpecimen
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.UnstainedSlidesFromDiagnosticBreastBiopsy)*@
                        @item.UnstainedSlidesFromDiagnosticBreastBiopsy
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.numberOfSlides)*@
                        @item.numberOfSlides
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.numberOfBlocks)*@
                        @item.numberOfBlocks
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.FormBLK_Patology_Accession_Number)*@
                        @item.FormBLK_Patology_Accession_Number
                    </td>
                    <td>
                        @item.Company_name
                        @*@Html.DisplayFor(model => item.Company_name)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.trackingNumber)*@
                        @item.trackingNumber
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.dateShippedToDivisionOfPathology)*@
                        @item.dateShippedToDivisionOfPathology
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.Created_By_Name)*@
                        @item.Created_By_Name
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.Created_On)*@
                        @item.Created_On
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.DMG_Receieved_By_Name)*@
                        @item.DMG_Receieved_By_Name
                    </td>
                    <td>
                        @*@Html.DisplayFor(model => item.DMG_Receieved_Date)*@
                        @item.DMG_Receieved_Date
                    </td>



                    <td>
                        @Html.DisplayFor(model => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Form_BlockID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.NSABP_Patology_Accession_Number)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.DMG_Receieved_By)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.shippingCompanyID)
                    </td>
                    <td>

                        <button type="button" value="Receive" class="btn btn-primary" onclick="ReceiveFormBLK(@item.ID)"> Receive</button>

                        <button type="button" value="VIEW" class="btn btn-primary" onclick="viewFormBLK(@item.ID)"> View</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="myModal" class="modal fade " role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal content-->

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>

        </div>
    </div>
</div>





<script type="text/javascript">


    $(document).ready(function () {
        $('#tbl_FormBlkDetails').DataTable({
            dom: 'Bfrtip',
            "scrollY": "300px",
            "scrollX": "250px",
            "scrollCollapse": true,
            "columnDefs": [{
                "targets": [19, 20, 21, 22, 23, 24],
                "visible": false,
                "searchable": false
            }
            ],

            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]

        });
    });


</script>
<script>


    var ReceiveFormBLK = function (_ID) {
        var url = "/Form_BLK/FormBLK_DMG_Receive?ID=" + _ID;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
        })

    }
    var viewFormBLK = function (_ID) {
        var url = "/Form_BLK/FormBLK_DMG_Receive?ID=" + _ID;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal").modal("show");
            $("#myModalBodyDiv1 *").prop('disabled', true);

        })


    }
</script>


