﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Create_Details_URL = "";
    ViewBag.Create_Details = "";
}


<div >
    <div class="row">
        <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ">Protocols</h5>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover color-bordered-table info-table" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Protocol</th>
                                        <th>No. of Sites</th>
                                        <th>Patient Population</th>
                                        <th>Patients Entrolled</th>
                                        <th>Activation Date</th>
                                        <th>Closure Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>C-13</td>
                                        <td>20</td>
                                        <td>100</td>
                                        <td>70</td>
                                        <td>05/08/2018</td>
                                        <td>08/05/2019</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>FB-10</td>
                                        <td>10</td>
                                        <td>50</td>
                                        <td>36</td>
                                        <td>09/23/2018</td>
                                        <td>04/11/2019</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>FB-11</td>
                                        <td>20</td>
                                        <td>100</td>
                                        <td>70</td>
                                        <td>08/11/2018</td>
                                        <td>01/01/2019</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>FC-7</td>
                                        <td>20</td>
                                        <td>100</td>
                                        <td>70</td>
                                        <td>07/13/2018</td>
                                        <td>12/23/2019</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>SAM</td>
                                        <td>20</td>
                                        <td>100</td>
                                        <td>70</td>
                                        <td>07/15/2018</td>
                                        <td>05/23/2019</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>C-13</td>
                                        <td>20</td>
                                        <td>100</td>
                                        <td>70</td>
                                        <td>02/27/2018</td>
                                        <td>11/23/2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    C-13
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart_Protocols"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title ">Protocol-C13</h5>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover color-bordered-table info-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Network ID</th>
                                    <th>Network Name</th>
                                    <th>Pi Name</th>
                                    <th>Patients Enrolled</th>
                                    <th>Patients Withdrawn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1234-001</td>
                                    <td>Network 1</td>
                                    <td>Pi 1</td>
                                    <td>10</td>
                                    <td>7</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>7893-001</td>
                                    <td>Network 2</td>
                                    <td>Pi 3</td>
                                    <td>4</td>
                                    <td>1</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3096-001</td>
                                    <td>Network 3</td>
                                    <td>Pi 3</td>
                                    <td>10</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>7413-001</td>
                                    <td>Network 4</td>
                                    <td>Pi 4</td>
                                    <td>5</td>
                                    <td>5</td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3569-001</td>
                                    <td>Network 5</td>
                                    <td>Pi 5</td>
                                    <td>8</td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3214-001</td>
                                    <td>Network 6</td>
                                    <td>Pi 6</td>
                                    <td>3</td>
                                    <td>7</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body"> 
                    1234-001                  
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart_Protocol"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title ">Site-7893-001</h5>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover color-bordered-table info-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Patient ID</th>
                                    <th>Total Visits</th>
                                    <th>Visits Completed</th>
                                    <th>Visits Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>7893-001-001</td>
                                    <td>10</td>
                                    <td>3</td>
                                    <td>7</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>7893-001-002</td>
                                    <td>10</td>
                                    <td>6</td>
                                    <td>4</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>7893-001-003</td>
                                    <td>10</td>
                                    <td>1</td>
                                    <td>9</td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>7893-001-004</td>
                                    <td>10</td>
                                    <td>5</td>
                                    <td>5</td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>7893-001-005</td>
                                    <td>10</td>
                                    <td>8</td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>7893-001-009</td>
                                    <td>10</td>
                                    <td>3</td>
                                    <td>7</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">  
            <div class="card">               
                <div class="card-body">
                   7893-001-001
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart_site"></div>
                    </div>
                    @*<div>
                        <canvas id="pieProtocols" height="150"> </canvas>
                    </div>*@
                </div>
            </div>
        </div>
    </div>


</div>


<script>
   

    $(function () {
        var data = [ {
            label: "Patients Entrolled"
            , data: 70
            , color: "#26c6da"
        ,
        }, {
            label: "Patients Pending"
            , data: 30
            , color: "#7460ee"
        ,
        }];
        var plotObj = $.plot($("#chart_Protocols"), data, {
            series: {
                pie: {
                    innerRadius: 0.7
                    , show: true
                }
            }
            , grid: {
                hoverable: true
            }
            , color: null
            , tooltip: true
            , tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20
                    , y: 0
                }
                , defaultTheme: false
            }
        });
    });
    $(function () {
        var data = [{
            label: "Patients Enrolled"
            , data: 7
            , color: "#4f5467"
        ,
        },{
            label: "Patients Withdrawn"
            , data: 3
            , color: "#7460ee"
        ,
        }];
        var plotObj = $.plot($("#chart_Protocol"), data, {
            series: {
                pie: {
                    innerRadius: 0.7
                    , show: true
                }
            }
            , grid: {
                hoverable: true
            }
            , color: null
            , tooltip: true
            , tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20
                    , y: 0
                }
                , defaultTheme: false
            }
        });
    });
    $(function () {
        var data = [{
            label: "Visits Completed"
            , data: 1
            , color: "#26c6da"
        ,
        }, {
            label: "Visits Pending"
            , data: 7
            , color: "#7460ee"
        ,
        }];
        var plotObj = $.plot($("#chart_site"), data, {
            series: {
                pie: {
                    innerRadius: 0.7
                    , show: true
                }
            }
            , grid: {
                hoverable: true
            }
            , color: null
            , tooltip: true
            , tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20
                    , y: 0
                }
                , defaultTheme: false
            }
        });
    });
   
</script>
 @*//$(function () {
    //    new Chart(document.getElementById("pieProtocols"),
    //         {
    //             "type": "doughnut",

    //             "data": {
    //                 "labels": ["Red", "Blue", "Yellow"],
    //                 "datasets": [{
    //                     "label": "My First Dataset",
    //                     "data": [300, 50, 100],
    //                     "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
    //                 }
    //                 ]
    //             }
    //         });

    //});*@
@*<div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title ">Network Level</h5>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover color-bordered-table success-bordered-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Site ID</th>
                                    <th>Site Name</th>
                                    <th>Patients Enrolled</th>
                                    <th>Patients Withdrawn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1234-001</td>
                                    <td>site 1</td>
                                    <td>10</td>
                                    <td>7</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1234-002</td>
                                    <td>site 2</td>
                                    <td>4</td>
                                    <td>1</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>1234-003</td>
                                    <td>site 3</td>
                                    <td>10</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>1234-004</td>
                                    <td>site 4</td>
                                    <td>5</td>
                                    <td>5</td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1234-005</td>
                                    <td>site 5</td>
                                    <td>8</td>
                                    <td>2</td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1234-006</td>
                                    <td>site 6</td>
                                    <td>3</td>
                                    <td>7</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chart</h5>
                    <div>
                        <canvas id="piechart1" height="150"> </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



